header
  if no_nav == false
    nav.top-nav
      .container
        .nav-wrapper
          .row
            .col.s12.m10.offset-m1
              h1.header #{page}
  .container
    a.top-nav.sidenav-trigger(href='#', data-target='nav-mobile', class=(no_nav == false ? "full hide-on-large-only" : "" + "waves-effect waves-light circle hide-on-large-only"))
      i.material-icons menu
  ul#nav-mobile.sidenav.sidenav-fixed
    
    li.bold(class=(page == "About" ? "active" : ""))
      a.waves-effect.waves-grey(href='about.html') About
    li.bold(class=(page == "Getting Started" ? "active" : ""))
      a.waves-effect.waves-grey(href='getting-started.html') Getting Started

    li.no-padding
      ul.collapsible.collapsible-accordion
        li.bold(class=(page == "Sass" || page == "Typography" || page == "Color" || page == "Shadow" || page == "Grid" || page == "Media CSS" || page == "Pulse" || page == "Table" || page == "CSS Transitions" || page == "Helpers" ? "active" : ""))
          a.collapsible-header(class="waves-effect waves-grey")
            | CSS
          .collapsible-body
            ul
              li(class=(page == "Color" ? "active" : ""))
                a(href='color.html') Color
              li(class=(page == "Grid" ? "active" : ""))
                a(href='grid.html') Grid
              li(class=(page == "Helpers" ? "active" : ""))
                a(href='helpers.html') Helpers
              li(class=(page == "Media CSS" ? "active" : ""))
                a(href='media-css.html') Media
              li(class=(page == "Pulse" ? "active" : ""))
                a(href='pulse.html') Pulse
              li(class=(page == "Sass" ? "active" : ""))
                a(href='sass.html') Sass
              li(class=(page == "Shadow" ? "active" : ""))
                a(href='shadow.html') Shadow
              li(class=(page == "Table" ? "active" : ""))
                a(href='table.html') Table
              li(class=(page == "CSS Transitions" ? "active" : ""))
                a(href='css-transitions.html') Transitions
              li(class=(page == "Typography" ? "active" : ""))
                a(href='typography.html') Typography
        li.bold(class=(page == "Buttons" || page == "Floating Action Button" || page == "Preloader" || page == "Pagination" || page == "Collections" || page == "Badges" || page == "Breadcrumbs" || page == "Footer" || page == "Icons" ? "active" : ""))
          a.collapsible-header(class="waves-effect waves-grey")
            | Components
          .collapsible-body
            ul
              li(class=(page == "Badges" ? "active" : ""))
                a(href='badges.html') Badges
              li(class=(page == "Buttons" ? "active" : ""))
                a(href='buttons.html') Buttons
              li(class=(page == "Breadcrumbs" ? "active" : ""))
                a(href='breadcrumbs.html') Breadcrumbs
              li(class=(page == "Collections" ? "active" : ""))
                a(href='collections.html') Collections
              li(class=(page == "Floating Action Button" ? "active" : ""))
                a(href='floating-action-button.html') Floating Action Button
              li(class=(page == "Footer" ? "active" : ""))
                a(href='footer.html') Footer
              li(class=(page == "Icons" ? "active" : ""))
                a(href='icons.html') Icons
              li(class=(page == "Pagination" ? "active" : ""))
                a(href='pagination.html') Pagination
              li(class=(page == "Preloader" ? "active" : ""))
                a(href='preloader.html') Preloader
        li.bold(class=(page == "Auto Init" || page == "Tooltips" || page == "Toasts" || page == "Modals" || page == "Dropdown" || page == "Tabs" || page == "Sidenav" || page == "Waves" || page == "Media" || page == "Collapsible" || page == "Carousel" ? "active" : ""))
          a.collapsible-header(class="waves-effect waves-grey")
            | JavaScript
          .collapsible-body
            ul
              li(class=(page == "Auto Init" ? "active" : ""))
                a(href='auto-init.html') Auto Init
              li(class=(page == "Carousel" ? "active" : ""))
                a(href='carousel.html') Carousel
              li(class=(page == "Collapsible" ? "active" : ""))
                a(href='collapsible.html') Collapsible
              li(class=(page == "Dropdown" ? "active" : ""))
                a(href='dropdown.html') Dropdown
              li(class=(page == "Media" ? "active" : ""))
                a(href='media.html') Media
              li(class=(page == "Modals" ? "active" : ""))
                a(href='modals.html') Modals
              li(class=(page == "Sidenav" ? "active" : ""))
                a(href='sidenav.html') Sidenav
              li(class=(page == "Tabs" ? "active" : ""))
                a(href='tabs.html') Tabs
              li(class=(page == "Toasts" ? "active" : ""))
                a(href='toasts.html') Toasts
              li(class=(page == "Tooltips" ? "active" : ""))
                a(href='tooltips.html') Tooltips
              li(class=(page == "Waves" ? "active" : ""))
                a(href='waves.html') Waves
        li.bold(class=(page == "Autocomplete" || page == "Checkboxes" || page == "Pickers" || page == "Radio Buttons" || page == "Range" || page == "Select" || page == "Switches" || page == "Text Inputs" ? "active" : ""))
          a.collapsible-header(class="waves-effect waves-grey")
            | Forms
          .collapsible-body
            ul
              li(class=(page == "Autocomplete" ? "active" : ""))
                a(href='autocomplete.html') Autocomplete
              li(class=(page == "Checkboxes" ? "active" : ""))
                a(href='checkboxes.html') Checkboxes
              li(class=(page == "Pickers" ? "active" : ""))
                a(href='pickers.html') Pickers
              li(class=(page == "Radio Buttons" ? "active" : ""))
                a(href='radio-buttons.html') Radio Buttons
              li(class=(page == "Range" ? "active" : ""))
                a(href='range.html') Range
              li(class=(page == "Select" ? "active" : ""))
                a(href='select.html') Select
              li(class=(page == "Switches" ? "active" : ""))
                a(href='switches.html') Switches
              li(class=(page == "Text Inputs" ? "active" : ""))
                a(href='text-inputs.html') Text Inputs

    li.bold(class=(page == "Mobile" ? "active" : ""))
      a.waves-effect.waves-grey(href='mobile.html') Mobile
    li.bold(class=(page == "Showcase" ? "active" : ""))
      a.waves-effect.waves-grey(href='showcase.html') Showcase

    li.no-padding
      ul.collapsible.collapsible-accordion
        li.bold(class=(page == "Propstore UI" || page == "Home" || page == "Buy now" || page == "Results" || page == "Product" || page == "Auctions" || page == "Bag" || page == "Checkout" || page == "Checkout Payment" || page == "Blog" ? "active" : ""))
              a.collapsible-header(class="waves-effect waves-grey")
                | Propstore
              .collapsible-body
                ul
                  li(class=(page == "Propstore UI" ? "active" : ""))
                    a(href='propstore-ui.html') Propstore UI
                  li(class=(page == "Home" ? "active" : ""))
                    a(href='home.html' target='_blank') Home page
                  li(class=(page == "Buy now" ? "active" : ""))
                    a(href='buy.html' target='_blank') Buy now
                  li(class=(page == "Results" ? "active" : ""))
                    a(href='results.html' target='_blank') Search results
                  li(class=(page == "Product" ? "active" : ""))
                    a(href='product.html' target='_blank') Product
                  li(class=(page == "Auctions" ? "active" : ""))
                    a(href='auctions.html' target='_blank') Auctions
                  li(class=(page == "Bag" ? "active" : ""))
                    a(href='bag.html' target='_blank') Bag
                  li(class=(page == "Checkout" ? "active" : ""))
                    a(href='checkout.html' target='_blank') Checkout
                  li(class=(page == "Checkout Payment" ? "active" : ""))
                    a(href='checkout-2.html' target='_blank') Checkout Payment
                  li(class=(page == "Blog" ? "active" : ""))
                    a(href='blog.html' target='_blank') Blog

  