/* Checkboxes
   ========================================================================== */

$img-ok-white: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2492.703125L4.75078 7.95234 1.5 4.70391l-1.5 1.5 4.99922 4.99919L12 2.20312 10.2492.703125z' fill='%23fff'/%3E%3C/svg%3E%0A");

.checkbox__label {
  font-size: 16px;
  font-weight: 400;
  color: $color-base;

  /* Remove default checkbox */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  // Checkbox Styles
  [type="checkbox"] {
    // Text Label Style
    ~ span:not(.lever) {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      display: inline-block;
      min-height: 25px;
      line-height: 25px;
      font-size: 1rem;
      user-select: none;
    }

    /* checkbox aspect */
    ~ span:not(.lever):before,
    &:not(.filled-in) ~ span:not(.lever):after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      z-index: 0;
      border: 2px solid $radio-empty-color;
      border-radius: 1px;
      margin-top: 3px;
      transition: .2s;
    }

    &:not(.filled-in) ~ span:not(.lever):after {
      border: 0;
      transform: scale(0);
    }

    &:not(:checked):disabled ~ span:not(.lever):before {
      border: none;
      background-color: $input-disabled-color;
    }

    // Focused styles
    &.tabbed:focus ~ span:not(.lever):after {
      transform: scale(1);
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 0 10px rgba(0,0,0,.1);
      background-color: rgba(0,0,0,.1);
    }
  }

  [type="checkbox"]:checked {
    ~ span:not(.lever):before {
      top: -4px;
      left: -5px;
      width: 12px;
      height: 22px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: $radio-border;
      border-bottom: $radio-border;
      transform: rotate(40deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;
    }

    &:disabled ~ span:before {
      border-right: 2px solid $input-disabled-color;
      border-bottom: 2px solid $input-disabled-color;
    }
  }

  /* Indeterminate checkbox */
  [type="checkbox"]:indeterminate {
    ~ span:not(.lever):before {
      top: -11px;
      left: -12px;
      width: 10px;
      height: 22px;
      border-top: none;
      border-left: none;
      border-right: $radio-border;
      border-bottom: none;
      transform: rotate(90deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;
    }

    // Disabled indeterminate
    &:disabled ~ span:not(.lever):before {
      border-right: 2px solid $input-disabled-color;
      background-color: transparent;
    }
  }

  // Filled in Style
  [type="checkbox"].filled-in {
    // General
    ~ span:not(.lever):after {
      border-radius: 0;
    }

    ~ span:not(.lever):before,
    ~ span:not(.lever):after {
      content: '';
      left: 0;
      position: absolute;
      /* .1s delay is for check animation */
      transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
    }

    // Unchecked style
    &:not(:checked) ~ span:not(.lever):before {
      top: 1px;
      left: 4px;
      width: 12px;
      height: 12px;
      background-image: $img-ok-white;
      transform: scale(0);
      border: 0;
    }

    &:not(:checked) ~ span:not(.lever):after {
      height: 20px;
      width: 20px;
      background-color: transparent;
      border: 1px solid $radio-empty-color;
      top: 0px;
      z-index: 0;
    }

    // Checked style
    &:checked {
      ~ span:not(.lever):before {
        top: 1px;
        left: 4px;
        width: 12px;
        height: 12px;
        background-image: $img-ok-white;
        transform: scale(1);
        border: 0;
      }

      ~ span:not(.lever):after {
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid $color-base;
        background-color: $color-base;
        z-index: 0;
      }
    }

    // Focused styles
    &.tabbed:focus ~ span:not(.lever):after {
      border-radius: 0;
      border-color: $radio-empty-color;
      background-color: rgba(0,0,0,.05);
    }

    &.tabbed:checked:focus ~ span:not(.lever):after {
      border-radius: 0;
      background-color: $color-base;
      border-color: $color-base;
    }

    // Disabled style
    &:disabled:not(:checked) ~ span:not(.lever):before {
      background-color: transparent;
      border: 2px solid transparent;
    }

    &:disabled:not(:checked) ~ span:not(.lever):after {
      border-color: transparent;
      background-color: $input-disabled-solid-color;
    }

    &:disabled:checked ~ span:not(.lever):before {
      background-color: transparent;
    }

    &:disabled:checked ~ span:not(.lever):after {
      background-color: $input-disabled-solid-color;
      border-color: $input-disabled-solid-color;
    }
  }
}

.checkbox__label.error {
  [type="checkbox"].filled-in:not(:checked) ~ span:after {
      border-color: $color-red;
  }
  & + .input-field__helper {
    display: block;
    width: 100%;
    color: $color-red;
  }
}