- var page = "Account Favorites"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include content/account-favorites.html
    include _footer.html
    include _scripts.html