- var page = "Account COA"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include content/account-coa.html
    include _footer.html
    include _scripts.html