- var page = "Auctions"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include content/hero-auctions.html
      include content/auctions-how.html
      include content/cta-sell-auctions.html
    include _footer-actions-auctions.html
    include _footer-signup.html
    include _footer.html
    include _scripts.html