- var page = "Buy now"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include content/buy.jade
    include _sidenav-filters.html
    include _footer-actions.html
    include _footer-signup.html
    include _footer.html
    include _scripts.html