- var page = "FAQ"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include content/faq.html
    include _footer-signup.html
    include _footer.html
    include _scripts.html