- var page = "Gift Vouchers"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include content/voucher-sections.html
    include _footer-actions-vouchers.html
    include _footer-signup.html
    include _footer.html
    include _scripts.html