- var page = "Landing"

doctype html
html(lang="en")
  head
    include _head-lp.jade
  body(class="lp")
    main
      include content/landing.html
    link(href='lp/css/propstore-lp.min.css', type='text/css', rel='stylesheet', media='screen,projection' defer)
    script(src='https://content.propstore.com/v2-public/vendors/jquery-3.2.1.min.js')