- var page = "Our Experts"

doctype html
html(lang="en")
  head
    include _head.jade
  body(class="experts")
    include _navbar.jade
    main
      include content/expert-sections.html
    include _footer-actions-vouchers.html
    include _footer-signup.html
    include _footer.html
    include _scripts.html