- var page = "Payment plans"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include content/payment-plans.html
    include _footer-signup.html
    include _footer.html
    include _scripts.html