- var page = "Product"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include content/product.html
      include content/also-like.html
    include _footer-actions.html
    include _footer-signup.html
    include _footer.html
    include _scripts.html