- var page = "Propstoreauction registration"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    main
      include content/propstoreauction-registration.html
    include _scripts.html