- var page = "Results"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include content/results.jade

    include _footer-signup.html
    include _footer.html
    include _scripts.html