- var page = "Sell"

doctype html
html(lang="en")
  head
    include _head.jade
  body(class="sell")
    include _navbar.jade
    main
      include content/hero-sell.html
      include content/sell.html
    include _footer-actions-sell.html
    include _footer-signup.html
    include _footer.html
    include _scripts.html