- var page = "Sell Form"

doctype html
html(lang="en")
  head
    include _head.jade
  body(class="sell")
    include _navbar.jade
    main
      include content/sell-form.html
    include _footer.html
    include _scripts.html