$border: 4px;
$border-corner: 80px;

@function corner($size, $width, $color) {
	$url-friendly-color: '%23' + str-slice('#{$color}', 2, -1);
	$w: str-slice('#{$size + $width / 2}', 0, -3);
	$size: str-slice('#{$size}', 0, -3);
	$width: str-slice('#{$width}', 0, -3);
	@return "data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 #{$w} #{$w}'%3E%3Cpath d='M#{$size} #{$w}A#{$size} #{$size} 0 0 0 0 2' stroke='#{$url-friendly-color}' stroke-width='#{$width}'/%3E%3C/svg%3E";
}

html {
	overflow: hidden;
	height: 100%;
}

.lp {
	position: relative;
	height: 100%;
	min-height: 100%;
	font-family: acumin-pro, sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: -0.02em;
	color: white;
	perspective: 8px;
  	perspective-origin: 0%;
	overflow-x: hidden;
  	overflow-y: scroll;
	background-color: $color-base;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: -32vh;
		bottom: 0;
		background-position: 50% 0;
		background-image: url(/images/lp/lp-hero-bg.jpg);
		background-repeat: repeat-x;
		background-size: contain;
		background-color: $color-base;
		transform-origin: 0 0;
		transform: translateZ(-5px) scale(1.65);
	}
}

main {
	padding-top: 225px;
  	transform: translateZ(0);
}

.content {
	padding-left: 60px;
	padding-right: 60px;
}

.h1 {
	margin-left: -8px;
	margin-top: 0;
	margin-bottom: 2rem;
	font-size: 100px;
	font-weight: 300;
	line-height: 1;
}

.h2 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 60px;
	font-weight: 300;
	line-height: 1;
}

.lp__section {
	position: relative;
	max-width: 1654px;
	margin: 0 auto #{-$border};
}

.lp__lines {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.lp__top {
	position: absolute;
	left: $border-corner;
	right: $border-corner;
	top: 0;
	height: $border;
	background: $color-orange;

	&:before {
		content: '';
		position: absolute;
		right: -$border-corner;
		top: 0;
		width: $border-corner;
		height: $border-corner;
		background-position: 0 0;
		background-image: url(corner($border-corner, $border, $color-orange));
		background-repeat: no-repeat;
		background-size: contain;
		transform-origin: 0 0;
	}
}

.lp__left {
	position: absolute;
	right: 0;
	width: $border;
	top: $border-corner;
	bottom: $border-corner;
	background: linear-gradient(to bottom, $color-orange, $color-green);

	&:before {
		content: '';
		position: absolute;
		right: $border-corner;
		bottom: -$border-corner;
		width: $border-corner;
		height: $border-corner;
		background-position: 0 0;
		background-image: url(corner($border-corner, $border, $color-green));
		background-repeat: no-repeat;
		background-size: contain;
		transform: rotate(90deg);
		transform-origin: 100% 100%;
	}
}

.lp__section--1,
.lp__section--left {
	.lp__lines {
		transform: scaleX(-1);
	}
}

.lp__section--1 {
	.lp__top {
		left: 45%;
	}

	.lp__section-columns {
		align-items: flex-start;
		padding-top: 0;
		padding-bottom: 0;
	}

	.lp__section-info {
		transform: translateY(-1.5rem);
	}

	.lp__section-img {
		position: absolute;
		top: -180px;
		right: -50px;
		width: 100%;
		max-width: 825px;
		min-height: 825px;
		background-size: contain;
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-image: url(/images/lp/lp-hero-item.png);
	}
}

.lp__section--2 {
	.lp__top {
		background: $color-green;
	
		&:before {
			background-image: url(corner($border-corner, $border, $color-green));
		}
	}
	
	.lp__left {
		background: linear-gradient(to bottom, $color-green, $color-blue);
	
		&:before {
			background-image: url(corner($border-corner, $border, $color-blue));
		}
	}

	.lp__section-image {
		background-image: url(/images/lp/lp-img-buy.png);
	}
}

.lp__section--3 {
	.lp__top {
		background: $color-blue;
	
		&:before {
			background-image: url(corner($border-corner, $border, $color-blue));
		}
	}
	
	.lp__left {
		background: linear-gradient(to bottom, $color-blue, $color-turquoise);
	
		&:before {
			background-image: url(corner($border-corner, $border, $color-turquoise));
		}
	}

	.lp__section-image {
		background-image: url(/images/lp/lp-img-auction.png);
	}
}

.lp__section--4 {
	.lp__top {
		background: $color-turquoise;
	
		&:before {
			background-image: url(corner($border-corner, $border, $color-turquoise));
		}
	}
	
	.lp__left {
		background: linear-gradient(to bottom, $color-turquoise, $color-pink);
	
		&:before {
			background-image: url(corner($border-corner, $border, $color-pink));
		}
	}

	.lp__section-image {
		background-image: url(/images/lp/lp-img-wacthlist.png);
	}
}

.lp__section--5 {
	.lp__top {
		background: $color-pink;
	
		&:before {
			background-image: url(corner($border-corner, $border, $color-pink));
		}
	}
	
	.lp__left {
		background: linear-gradient(to bottom, $color-pink, $color-base);
	
		&:before {
			background-image: url(corner($border-corner, $border, $color-base));
		}
	}

	.lp__section-columns {
		padding-bottom: 100px;
	}

	.lp__section-image {
		background-image: url(/images/lp/lp-img-plans.png);
	}
}

.lp__section-columns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 88px;
	padding-bottom: 64px;
}

.lp__section-image {
	position: relative;
	flex: 1 1 50%;
	min-height: 657px;
	padding-left: 10rem;
	padding-right: 5rem;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.lp__section-info {
	flex: 1 1 50%;
	padding-left: 10rem;
	padding-right: 5rem;

	.p-r, .p-l {
		margin-bottom: 2.5rem;
	}
}

.lp__text {
	width: 90%;
	max-width: 1111px;
	margin: 0 auto;
	padding: 100px 0 144px;
	font-size: 40px;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
}

.lp__section-badge {
	display: inline-block;
	height: 26px;
	margin-bottom: 1.5rem;
	padding: 0 12px;
	font-size: 12px;
	line-height: 26px;
	font-weight: 600;
	letter-spacing: .12em;
	text-transform: uppercase;
	white-space: nowrap;
	border-radius: 13px;
	box-sizing: border-box;

	&.turquoise,
	&.pink {
		color: $color-base;
	}
}

.btn {
	display: inline-block;
	height: $button-height;
	line-height: $button-height;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent; // Gets rid of tap active state
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .12em;
	border: 0;
	padding: $button-padding;
	text-decoration: none;
	color: $button-raised-color;
	background-color: $button-raised-background;
	text-align: center;
	transition: background-color .2s ease-out;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $button-raised-background-hover;
	}

	&:active {
		background-color: $button-raised-background;
	}

	.icon {
		margin-top: 4px;
		margin-right: 8px;
	}

	.btn__title + .icon {
		margin-right: 0;
		margin-left: 16px;
	}
}

.lp__logo {
	display: inline-block;
    width: 201px;
	height: 46px;
	margin-bottom: 2.5rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0% 50%;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 201 46' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.53.85c6.9 0 11.4 4.14 11.4 10.61 0 6.42-4.5 10.61-11.4 10.61H4.57v13.26H.27V.85h13.26zm-8.96 17.3h8.59c4.5 0 7.43-2.6 7.43-6.69 0-4.08-2.87-6.63-7.38-6.63H4.57v13.32zM40.7 10.19v3.92h-2.02c-5.26 0-6.69 4.4-6.69 8.39v12.83h-4.03V10.2h3.5l.53 3.77c1.17-1.91 3.08-3.77 7.59-3.77h1.11zM41.33 22.76c0-7.64 5.14-12.84 12.46-12.84 7.32 0 12.47 5.2 12.47 12.84S61.11 35.6 53.79 35.6s-12.46-5.2-12.46-12.84zm20.8 0c0-5.36-3.35-9.28-8.34-9.28-4.98 0-8.32 3.87-8.32 9.28 0 5.41 3.34 9.28 8.32 9.28 5 0 8.33-3.92 8.33-9.28zM94.27 22.76c0 7.7-5.15 12.84-12.04 12.84-4.25 0-7.11-1.7-8.6-4.14v13.69H69.6V10.19h3.5l.53 4.03c1.7-2.33 4.4-4.35 8.6-4.35 6.9.05 12.04 4.72 12.04 12.9zm-4.14 0c0-5.46-3.34-9.28-8.33-9.28-4.93 0-8.27 3.76-8.27 9.18 0 5.51 3.34 9.33 8.27 9.33 4.99.05 8.33-3.76 8.33-9.23zM101.06 27.06c.16 2.97 2.81 5.14 6.9 5.14 3.5 0 5.94-1.53 5.94-3.82 0-3.13-2.7-3.5-6.42-3.92-5.47-.7-9.97-1.7-9.97-6.95 0-4.56 4.19-7.64 9.7-7.59 5.68.06 9.76 2.76 10.14 7.96h-4.04c-.31-2.55-2.7-4.5-6.1-4.5-3.4 0-5.73 1.53-5.73 3.81 0 2.76 2.6 3.02 6.16 3.45 5.62.69 10.18 1.86 10.18 7.43 0 4.66-4.45 7.58-9.97 7.58-6.42 0-10.82-3.08-10.93-8.6h4.14zM123.55 13.9h-4.5V10.2h4.5v-7h4.03v7.05h6.37v3.72h-6.37v14.8c0 2.12.75 2.91 2.76 2.91h4.4v3.72h-4.61c-4.83 0-6.52-2.13-6.52-6.53V13.9h-.06zM135.6 22.76c0-7.64 5.14-12.84 12.46-12.84 7.32 0 12.47 5.2 12.47 12.84s-5.15 12.84-12.47 12.84c-7.37 0-12.47-5.2-12.47-12.84zm20.74 0c0-5.36-3.35-9.28-8.33-9.28-4.99 0-8.33 3.87-8.33 9.28 0 5.41 3.34 9.28 8.33 9.28 4.98 0 8.33-3.92 8.33-9.28zM176.5 10.19v3.92h-2.02c-5.25 0-6.69 4.4-6.69 8.39v12.83h-4.03V10.2h3.5l.53 3.77c1.17-1.91 3.08-3.77 7.59-3.77h1.11zM189.06 9.92c6.9 0 11.73 4.46 11.94 11.94 0 .53-.05 1.11-.1 1.7h-19.53v.32c.16 4.88 3.24 8.11 7.9 8.11 3.56 0 6.32-1.86 7.17-5.14h4.08c-1 5.04-5.14 8.7-10.93 8.7-7.53 0-12.46-5.15-12.46-12.84 0-7.7 4.83-12.79 11.94-12.79zm7.7 10.3c-.38-4.35-3.5-6.74-7.7-6.74a7.4 7.4 0 00-7.47 6.73h15.17z' fill='%23fff'/%3E%3C/svg%3E");
}

.icon {
	display: inline-block;
    width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	transform: translateY(4px);

	&.icon--arrow-right {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M2.33 9.17v1.66h13l-4.58 4.59 1.18 1.18 6.6-6.6-6.6-6.6-1.18 1.18 4.58 4.59h-13z' fill='%23fff'/%3E%3C/svg%3E");
	}
}

@media only screen and (max-width: 1660px) {
	main {
		padding-top: 125px;
	}

	.h1 {
		margin-left: -6px;
		font-size: 72px;
	}
	
	.h2 {
		font-size: 40px;
	}

	.lp__section {
		border-radius: 3rem;
	}

	.lp__section--1 {
		.lp__top {
			left: 50%;
		}
		
		.lp__section-img {
			top: -110px;
			right: -50px;
			max-width: 100%;
			min-height: 500px;
		}
	}

	.lp__text {
		margin: 0 auto;
		padding: 40px 0 100px;
		font-size: 28px;
	}

	.lp__section-columns {
		padding-top: 44px;
	}

	.lp__section-image {
		min-height: 500px;
		padding-left: 5rem;
		padding-right: 2.5rem;
	}
	
	.lp__section-info {
		padding-left: 5rem;
		padding-right: 2.5rem;
	}
}

@media only screen and (max-width: 1020px) {
	$border: 2px;
	$border-corner: 40px;

	main {
		padding-top: 60px;
	}

	.content {
		padding-left: 40px;
		padding-right: 40px;
	}

	.h1 {
		margin-left: -2px;
		font-size: 48px;
	}
	
	.h2 {
		font-size: 32px;
	}

	.lp__logo {
		width: 200px;
		height: 32px;
		margin-bottom: 1.5rem;
	}

	.lp__section {
		margin-bottom: -$border;
	}

	.lp__top {
		left: $border-corner;
		right: $border-corner;
		height: $border;
	
		&:before {
			transform: scale(.5);
		}
	}
	
	.lp__left {
		width: $border;
		top: $border-corner;
		bottom: $border-corner;
			
		&:before {
			right: $border-corner;
			bottom: -$border-corner;
			transform: scale(.5) rotate(90deg);
		}
	}

	.lp__section--1 {
		.lp__top {
			left: 55%;
		}
		
		.lp__section-img {
			top: -60px;
			right: -20px;
			min-height: 320px;
		}

		.lp__section-info {
			transform: translateY(-1rem);
		}
	}

	.lp__text {
		margin: 0 auto;
		padding: 72px 0 80px;
	}

	.lp__section-image {
		flex: 1 1 40%;
		min-height: 320px;
		padding-left: 2.5rem;
	}
	
	.lp__section-info {
		flex: 1 1 60%;
		padding-left: 2.5rem;

		.p-l {
			font-size: 20px;
		}
	}
}

@media only screen and (max-width: 680px) {
	.lp:before {
		background-size: 200vw;
	}

	.h1 {
		font-size: 52px;
	}

	.content {
		padding-left: 16px;
		padding-right: 16px;
	}

	.lp__text {
		width: auto;
		padding-right: 1rem;
		padding-left: 2rem;
		text-align: left;
	}

	.lp__section--1 {
		.lp__section-img {
			top: -60px;
			right: 0;
			min-height: 280px;
		}
	}
	
	.lp__section-columns {
		flex-wrap: wrap;
	}

	.lp__section-image {
		order: 1;
		flex: 1 1 100%;
		min-height: 280px;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	
	.lp__section-info {
		order: 2;
		flex: 1 1 100%;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media only screen and (max-width: 400px) {
	.h1 {
		font-size: 40px;
	}

	.lp__text {
		padding-left: 1rem;
		padding-right: 0;
		font-size: 24px;
	}

	.lp__section-image {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	
	.lp__section-info {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}