div(class="also-like")
    div(class="also-like__title") You might also like...
    div(class="cards")
        div(class="cards__inner")
            div(class="cards__list")
                include card-05.html
                include card-06.html
                include card-02.html
                include card-03.html