div(class="cards")
    div(class="cards__inner")
        div(class="cards__list")
            include card-05.html
            include card-06.html
            include card-02.html
            include card-03.html

            include card-auction-01.html
            include card-07.html
            include card-08.html

            include card-04.html
            include card-01.html
            include card-auction-02.html
            
include currency-uk.html
include currency-usa.html