div(class="cards")
    div(class="cards__inner")
        div(class="cards__showing-results")
            div(class="cards__showing-results-label h5") Showing results for
            div(class="cards__showing-results-value") Murray
                a(href="#clean" class="waves-effect btn-flat btn--icon cards__showing-results-clean")
                    i(class="icon")
                        svg
                            use(xlink:href="#clean")
        div(class="cards__list")
            include card-05.html
            include card-06.html
            include card-02.html
            include card-03.html

            include card-auction-01.html
            include card-07.html
            include card-08.html

            include card-04.html
            include card-01.html
            include card-auction-02.html
