div(class="whatsnew")
    div(class="whatsnew__inner")
        div(class="whatsnew__title") What’s new
        div(class="whatsnew__text") Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
        div(class="whatsnew__cards")
            div(class="whatsnew__cards-scroll")
                include card-01.html
                include card-02.html
                include card-03.html
                include card-04.html
                include card-01.html
                include card-02.html
                include card-03.html
                include card-04.html
                include card-01.html
                include card-02.html
        div(class="whatsnew__cards-arrows")
            div(class="whatsnew__cards-arrow whatsnew__cards-arrow--left")
            div(class="whatsnew__cards-arrow whatsnew__cards-arrow--right")
