// Badges
span.badge {
  display: inline-block;
  text-align: center;
  line-height: $badge-height;
  height: $badge-height;
  padding: 0 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .12em;
  text-transform: uppercase;
  white-space: nowrap;
  background: color("blue-grey", "base");
  border-radius: 4px;
  box-sizing: border-box;

  .icon {
    display: inline-block;
    margin-top: -4px;
    margin-right: 4px;
  }

  &.orange {
    color: $color-base;
  }

  &.navy {
    background: $color-base;
  }

  &.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: $badge-bg-color;
    border-radius: 2px;
  }
  &.new:after {
    content: " new";
  }

  &[data-badge-caption]::after {
    content: " " attr(data-badge-caption);
  }
}

// Special cases
nav ul a span.badge {
  display: inline-block;
  float: none;
  margin-left: 4px;
  line-height: $badge-height;
  height: $badge-height;
  -webkit-font-smoothing: auto;
}

// Line height centering
.collection-item span.badge {
  margin-top: calc(#{$collection-line-height / 2} - #{$badge-height / 2});
}
.collapsible span.badge {
  margin-left: auto;
}
.sidenav span.badge {
  margin-top: calc(#{$sidenav-line-height / 2} - #{$badge-height / 2});
}

table span.badge {
  display: inline-block;
  float: none;
  margin-left: auto;
}
