.carousel {
  &.carousel-slider {
    top: 0;
    left: 0;

    .carousel-fixed-item {
      &.with-indicators {
        bottom: 68px;
      }

      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 1;
    }

    .carousel-item {
      @extend .carousel-item--slider;
    }
  }

  overflow: hidden;
  position: relative;
  width: 100%;
  height: $carousel-height;
  perspective: 500px;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;

  .carousel-item {
    visibility: hidden;
    width: $carousel-item-width;
    height: $carousel-item-height;
    position: absolute !important;
    top: 0;
    left: 0;

    & > img {
      width: 100%;
    }
  }

  // Materialbox compatibility
  &.scrolling .carousel-item .materialboxed,
  .carousel-item:not(.active) .materialboxed {
    pointer-events: none;
  }
}

.carousel-item__image { // hidden image to catch loading
  opacity: 0;
  pointer-events: none;
  width: 1px;
  height: 1px;
}

.carousel-item--slider {
  width: 100%;
  height: 100%;
  min-height: $carousel-height;
  position: absolute;
  top: 0;
  left: 0;

  h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  p {
    font-size: 15px;
  }
}

.carousel,
.modal-gallery__carousel,
.carousel--hero,
.product__slider {
  .arrows {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;

    .touch & {
      display: none;
    }
  }

  .arrow {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    opacity: .5;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: 1;

      &:before {
        opacity: 1 !important;
      }
    }

    &.arrow--prev {
      left: 5%;
      transform: translateY(-50%) rotate(180deg);
    }

    &.arrow--next {
      right: 5%;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -1.2em;
      right: -.8em;
      top: -1em;
      bottom: -1em;
      border-radius: 5em;
      background: rgba(0,0,0,.3);
      opacity: 0;
      transition: opacity .2s ease;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.47.47c-.3.3-.3.77 0 1.06L5.94 7 .47 12.47a.75.75 0 101.06 1.06l6-6c.3-.3.3-.77 0-1.06l-6-6a.75.75 0 00-1.06 0z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
    }
  }

  &:hover .arrow:before {
    opacity: .5;
  }

  .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 100%);
  }

  .indicator-item {
    &.active {
      opacity: 1;
    }

    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: #fff;
    opacity: .15;
    border-radius: 50%;
  }
}

.modal-gallery__carousel,
.product__slider {
  @extend .carousel-slider;
  position: relative;
  z-index: 10;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  &.init {
    opacity: 1;
  }

  .carousel-item {
    @extend .carousel-item--slider;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.modal-gallery__carousel {
  width: 100%;
  height: 100% !important;

  .arrow {
    &.arrow--prev {
      left: 40px;
    }

    &.arrow--next {
      right: 40px;
    }
  }
}

.carousel--hero {
  @extend .carousel-slider;
  width: 100%;
  height: 100% !important;

  .carousel-item {
    @extend .carousel-item--slider;
    min-height: auto;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    .indicator__caption {
      display: none;
    }
  }

  .indicators {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 25%;
    padding: 0 76px 40px;
    text-align: left;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 100%);
    z-index: 10;
  }

  .indicator-item {
    height: auto;
    width: 100%;
    max-width: 33%;
    margin: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    opacity: 1;

    &:before {
      content: '';
      display: block;
      height: 3px;
      background-color: rgba(255,255,255,.3);
      border-radius: 2px;
    }
    
    &:after {
      content: '';
      position: absolute;
      height: 2em;
      top: -1em;
      left: 0;
      right: 0;
    }
  }

  .indicator-item + .indicator-item {
    margin-left: 24px;
  }

  &.stopped {
    .indicator-item.active {
      &:before {
        background-color: #fff;
      }
    }
  }
}

.indicator__caption {
  display: block;
  padding-top: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 14px;
}

.indicator__progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  animation: animation-indicator-progress .1s linear forwards;
}

@keyframes animation-indicator-progress {
	0% { width: 0%; }
	100% { width: 100%; }
}

@media #{$medium-and-down} {
	.carousel--hero {
    .indicators {
      justify-content: flex-start;
      padding: 0 24px 32px;
    }
  
    .indicator-item {
      max-width: 44px;
    }
  
    .indicator-item + .indicator-item {
      margin-left: 8px;
    }
  
    .indicator__caption {
      display: none;
    }
  }
}
