.modal {
  &:focus {
    outline: none;
  }

  display: none;
  position: fixed;
  left: 0;
  top: 50%;
  right: 0;
  background-color: #fff;
  padding: 0;
  max-height: 100vh;
  width: 55%;
  margin: auto;
  overflow-y: auto;

  border-radius: 6px;
  box-shadow: $shadow-base;
  will-change: top, opacity;

  @media #{$medium-and-down} {
   width: 80%;
  }

  h1,h2,h3,h4 {
    margin-top: 0;
  }

  .modal-content {
    padding: 0 76px 64px;
  }
  .modal-close {
    cursor: pointer;
  }

  .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 72px;
    width: 100%;
    text-align: right;
  }
}
.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;

  will-change: opacity;
}

// Modal with fixed action footer
.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;

  .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .modal-footer {
    border-top: 1px solid rgba(0,0,0,.1);
    position: absolute;
    bottom: 0;
  }
}

// Modal Bottom Sheet Style
.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}

.modal-blocked {
  overflow: hidden;
  pointer-events: none;

  .modal,
  .modal-overlay {
    pointer-events: all;
  }
}

.modal-header {
  padding: 24px 24px 0;
  text-align: right;
}

.modal__title {
  margin-bottom: 40px;
  font-size: 28px;
}

.modal-gallery {
  @extend .modal;
  position: fixed;
  left: 0;
  right: 0;
  top: 0 !important;
  bottom: 0;
  max-height: none;
  width: auto;
  overflow: hidden;
  background: rgba(0,0,0,0);
  backdrop-filter: blur(2px);
  transform: none !important;

  .modal__close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 32px;
    height: 32px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.47.47c.3-.3.77-.3 1.06 0L7 5.94 12.47.47a.75.75 0 111.06 1.06L8.06 7l5.47 5.47a.75.75 0 11-1.06 1.06L7 8.06l-5.47 5.47a.75.75 0 01-1.06-1.06L5.94 7 .47 1.53a.75.75 0 010-1.06z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
    opacity: .5;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.modal-trigger {
  cursor: pointer;
}

@media #{$small-and-down} {
	.modal {
		top: unset;
		bottom: 0;
		width: 100%;
		max-width: 100% !important;
		max-height: 95vh;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		.modal-header {
			padding: 16px 16px 0;
		  }

		.modal-content {
			padding: 0 24px 40px;
		}
	}
}