#toast-container {
  display:block;
  position: fixed;
  z-index: 10000;

  @media #{$medium-only} {
    left: 1.5rem;
    bottom: 1.5rem;
    max-width: calc(100% - 3rem);
  }
  @media #{$large-and-up} {
    bottom: 2.5rem;
    left: 2.5rem;
    max-width: calc(100% - 5rem);
  }
}

.toast {
  position: relative;
  top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin-top: 10px;
  max-width:100%;
  height: auto;
  min-height: $toast-height;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
  background-color: $color-turquoise;
  border-radius: 6px;
  cursor: default;
  box-shadow: $shadow-base;

  .toast-action {
    color: $toast-action-color;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem;
  }

  &.rounded{
    border-radius: 24px;
  }

  @media #{$small-and-down} {
    width: 100%;
  }
}
