.account-page {
	padding-top: 80px;
	padding-bottom: 24px;
	text-align: center;
}

.account-page__suptitle {
	display: inline-block;
	margin-bottom: 1.5em;
}

a.account-page__suptitle:not(.btn) {
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

.account-page__title {
	margin-bottom: 1em;
}

.account-page__section {
	padding: 0 2.5em 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid $color-grey;

	&:last-child {
		margin-bottom: 0;
		border-bottom: 0;
	}

	&.account-page__section--footer {
		position: sticky;
		bottom: 0;
		z-index: 200;
		padding-top: 2em;
		background: linear-gradient(rgba(255,255,255,0), white 1.5em, white);

		.btn {
			width: 100%;
		}
	}
}

.account-page__section-title {
	margin-bottom: 2em;
}

.account-page__section-text {
	margin-top: -.5em;
	margin-bottom: 1.5em;
}

.account-page__form {
	max-width: 432px;
	margin: 0 auto;
	text-align: left;

	.input-field + .input-field {
		margin-top: 2.5em;
	}
}

.account__address-type {
	margin-bottom: 3em;

	label {
		display: flex;
		margin-bottom: 1.5em;
		font-size: 1em;
		color: $color-base;
		cursor: pointer;
	}
}

.account__address-use-as-shipping {
	margin-top: 3em;
}

.account-page__checkboxes {
	margin-bottom: -1.5em;

	label {
		display: inline-flex;
		margin-bottom: 1.5em;
		font-size: 1em;
		color: $color-base;
		cursor: pointer;
	}
}

.cards--account {
	padding-top: 0;
	padding-bottom: 0;
	background: #fff;
}

.modal-watchlist {
	max-width: 720px;
	text-align: center;

	.modal-content {
		padding-bottom: 4em;
	}
}

.modal-watchlist__buttons {
	.btn {
		min-width: 192px;
	}
	.btn + .btn {
		margin-left: 24px;
	}
}

.account__orders {
	@extend .content;
	text-align: left;

	.transfer {
		font-size: 11px;
		font-weight: 400;
	}
}

.account__orders-inner {
	max-width: $width-4cards;
	margin: 0 auto;
}

.account__orders-auction,
.account__orders-buy {
	margin-bottom: 2.5em;
}

.account__orders-tbody {
	& + & {
		border-top: 1px solid $color-grey;
	}

	.tr + .tr:not(.tr-nobrd) {
		.td {
			border-top: 1px solid #eee;
		}
	}

	.tr-nobrd {
		.td {
			height: 1.5rem;
			padding-top: 0;
		}
	}
}

.account__orders-td-first {
	padding-left: 2.5rem;
}

.account__orders-td-last {
	padding-right: 2.5rem;
}

.account__orders-auction-td-lot {
	width: 5rem;
	padding-left: 2rem;
}

.account__orders-auction-td-vat-status {
	width: 4rem;
	padding-right: 1rem;
}

.account__orders-auction-td-title {}

.account__orders-auction-td-trans-type {
	white-space: nowrap;
}

.account__orders-auction-tr-total {
	font-weight: 500;
}

.account__orders-tbody-subtotal {
	@extend .h6;
	color: #fff;
	background: $color-turquoise;

	.td {
		height: 60px;
		padding: 0 !important;
		text-align: center;
		vertical-align: middle;
	}
}

.account__orders-code {
	white-space: nowrap;
	line-height: 2;
}

.account__orders-code-block {
	& + & {
		padding-top: 1rem;
	}
}

.account__orders-code-row {
	margin-bottom: .5rem;
	white-space: nowrap;
}

.account__orders-auction-info {
	display: flex;
	justify-content: space-between;
}

.account__orders-auction-note {
	flex: 1 1 70%;
	margin-bottom: 5em;
}

.account__orders-auction-plan {
	flex: 1 1 30%;
	white-space: nowrap;
	font-weight: 500;
}

.account__orders-note {
	max-width: 60%;
	margin-bottom: 1.75em;
}

.account__orders-info {
	margin-bottom: 1.25em;
}

.account__orders-info-row {
	display: flex;
	margin-bottom: .5em;
}

.account__orders-info-label {
	flex: 0 1 6em;
	font-weight: 500;
}

.account__orders-buy-td-title {
	width: 70%;
}

a.account__orders-buy-link:not(.btn) {
	font-weight: 400;
	color: $primary-color;

	&:before {
		display: none;
	}
}

.account__favorites {
	margin-top: 3em;
	text-align: left;

	.transfer {
		font-size: 11px;
		font-weight: 400;
	}
}

.account__favorites-inner {
	display: flex;
	justify-content: space-between;
	max-width: $w84;
	margin: 0 auto;
}

.account__favorites-col {
	width: calc(50% - 2em);
}

.account__favorites-list {
	margin-top: 2em;

	&.collapsible {
		border: 0;
		box-shadow: none;
		list-style: none;

		& > li.active .icon--dropdown {
			transform: rotate(180deg);
		}
	}
}

.account__favorites-item {
	position: relative;
	padding: 0 1.5em;
	border-radius: 6px;
	box-shadow: $shadow-base;

	& + & {
		margin-top: 1em;
	}
}

.account__favorites-item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5em;
	padding: 0 2.25rem 0 0;
	border: 0;
	background: #fff !important;
}

.account__favorites-item-title {
	flex: 1 1 100%;
	max-width: calc(100% - 6em);
	height: 1.5em;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	.account__favorites-col--genres & {
		max-width: 100%;
	}
}

.account__favorites-item-delete {
	position: absolute;
	top: 1rem;
	right: .25rem;

	.icon {
		width: 1rem;
		height: 1rem;
	}
}

.account__favorites-item-body {
	padding: 0 0 1.5em;
	border: 0;

	li + li {
		margin-top: .5em;
	}
}

.account__coa {
	@extend .content;
}

.account__coa-inner1 {
	max-width: 560px;
	margin: 0 auto 3em;
}

.account__coa-inner {
	max-width: 432px;
	margin: 0 auto;
}

.account__coa-img {
	img {
		width: 100%;
	}
}

.account__coa-btn {
	margin-top: 1rem;
	width: 100%;
}


.credit-cards {
	&.credit-cards--white {
		.credit-cards__item {
			height: 2rem;
		}

		.credit-cards__item-label {
			height: 2rem;
			padding: 0;

			label:before {
				display: none;
			}
		}

		.credit-cards__stripe {
			.stripeElements {
				margin-right: 0;
				padding: 0;
			}
		}
	}
}

.credit-cards__item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	& + & {
		margin-top: 1rem;
	}

	&.remove {
		.credit-cards__item-label {
			opacity: .5;

			* {
				cursor: default;
			}
		}

		.credit-cards__item-helper {
			display: block;
		}

		.credit-cards__item-remove {
			color: $color-red;
		}
	}
}

.credit-cards__item-label {
	position: relative;
	flex: 1 1 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	padding: 0 1rem;
	background: white;
	border-radius: 6px;
	white-space: nowrap;

	label {
		font-size: 1em;
		color: $color-base;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}

.credit-cards__item-helper {
	position: absolute;
    right: 0;
	display: none;
	padding: 0 1rem;
	font-weight: 400;
    background: white;
}

.credit-cards__item-actions {
	margin-right: -.5rem;
}

.credit-cards__stripe {
	margin-top: 2rem;

	.stripeElements {
		display: none;
		margin-right: 2.5rem; // trash
		padding: 1rem 1rem 0;
		background: white;
		border-radius: 6px;
	}

	&.new {
		.stripeElements {
			display: block;
		}

		.credit-cards__add-button {
			display: none;
		}

		.credit-cards__cancel-button {
			display: inline-block;
		}
	}

	.input-field__helper {
		margin: 0;
		padding-bottom: 1em;
	}
}

.credit-cards__add-button {
	&.disabled {
		color: $primary-color !important;
		background: none !important;
		opacity: .3;
	}
}

.credit-cards__cancel-button {
	display: none;
	margin-top: 2rem;

	.icon {
		transform: rotate(180deg);
	}
}

.stripeElement {
	margin-bottom: 1rem;

	.__PrivateStripeElement {
		position: relative;
		width: calc(100% - 2px);
		height: $input-height;
		margin: 0 1px;
		padding: 1.1em 0 1em 1.4em;
		font-size: $input-font-size;
		color: $color-base;
		border: $input-border;
	
		&.focus,
		&:focus-within {
			width: 100%;
			margin: 0;
			border: 2px solid $input-focus-color;
		}

		.ElementsApp {
			font-size: $input-font-size !important;
		}
	}
}

.stripeElements__row {
	display: flex;
	justify-content: space-between;

	.stripeElement {
		flex: 1 1 100%;
	}

	.stripeElement + .stripeElement {
		margin-left: 1rem;
	}
}

.account-page__tabs {
	display: block;

	.indicator {
		display: none;
	}
}

.account-page__tab {
	& + & {
		margin-left: 12px;
	}
}

.account-watchlist__auctions {
	max-width: $w55;
	margin: 5em auto;
	padding: 5em 0;
	color: white;
	background: $color-base;
	border-bottom-right-radius: 140px;
}

.account-watchlist__auctions {
	max-width: $w55;
	margin: 5em auto;
	padding: 5em 0;
}

.account-watchlist__auctions-inner {
	max-width: $w36;
	margin: 0 auto;
}

.account-orders__tabs {
	display: block;
	margin-bottom: 3rem;

	.indicator {
		display: none;
	}
}

.account-orders__tab {
	& + & {
		margin-left: 12px;
	}
}

.account-page__body-inner {
	margin-top: 3em;
}

@media #{$large-and-down} {
	.account__orders-note {
		max-width: 100%;
	}

	.account__orders-auction-info {
		flex-wrap: wrap;
	}
	
	.account__orders-auction-note,
	.account__orders-auction-plan {
		flex-basis: 100%;
	}

	.account-watchlist__auctions {
		margin-top: 2.5em;
		border-bottom-right-radius: 80px;
	}
}

@media #{$medium-and-down} {
	.account-page {
		padding-top: 52px;
	}

	.account-page__section {
		padding: 0 1.5em 2em;
	}

	.modal-watchlist__buttons {
		.btn {
			min-width: 0;
		}
		.btn + .btn {
			margin-left: 16px;
		}
	}

	.account__orders {
		overflow-x: auto;
	}

	// .account__orders-auction {
	// 	thead {
	// 		display: none;
	// 	}
	// }

	// .account__orders-tbody {
	// 	.tr {
	// 		display: flex;
	// 		justify-content: space-between;
	// 		flex-wrap: wrap;
	// 		width: 100%;
	// 	}
	// }

	// .account__orders-auction-td-title {
	// 	width: 100%;
	// }

	.account__favorites-inner {
		display: block;
	}

	.account__favorites-col {
		width: 100%;

		&.account__favorites-col--genres {
			margin-top: 4em;
			padding-top: 4em;
			border-top: 1px solid $color-grey;
		}
	}
}