.auctions__how {
	margin-top: 9em;
}

.section-auctions {
	@extend .content;
	margin-top: 140px;
}

.section-auctions__inner {
	max-width: $w103;
	margin: 0 auto;
}

.section-auctions__title {
	padding: 0 16px;
	text-align: center;
}

.section-auctions__item {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	min-height: 580px;
}

.section-auctions__item-img {
	position: relative;
	width: 100%;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $color-base;
}

.section-auctions__item-logo {
	position: absolute;
	left: 40px;
	top: 40px;
	height: 40px;
}

.section-auctions__item-panel {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 40px;
	right: 40px;
	bottom: 40px;
	min-height: 72px;
	padding: 0 24px;
	background: #fff;
	border-radius: 6px;
}

.section-auctions__item-panel-title {
	font-size: 20px;
	line-height: 1.2;
}

.section-auctions__item-timer {
	flex: 0 1 320px;
	display: flex;

	&.section-auctions__item-timer--disabled {
		color: $color-font-grey;
	}
}

.section-auctions__item-timer-item {
	flex: 1 1 80px;
	text-align: center;

	& + & {
		border-left: 1px solid $color-grey;
	}
}

.section-auctions__item-timer-label {
	text-transform: uppercase;
	font-size: 10px;
	line-height: 1;
  	letter-spacing: .12em;
}

.section-auctions__item-alert {
	height: 40px;
	line-height: 40px;
	padding: 0 20px;

	&.section-auctions__item-alert--hidden {
		height: 0;
		margin: 0;
		opacity: 0;
		pointer-events: none;
	}

	&.section-auctions__item-alert--added {
		background: $color-red;

		.section-auctions__item-alert-added {
			display: inline;
		}
		.section-auctions__item-alert-add {
			display: none;
		}
	}
}

.section-auctions__item-alert-added {
	display: none;
}

.section-auctions__item-info {
	flex: 0 0 660px;
	display: flex;
	align-items: center;
	padding: 40px 72px 40px;
	background: $color-bg;
	border-bottom-right-radius: 140px;

	.btn {
		margin: .5rem .5rem 0 0;
	}
}

.section-auctions__item-bage {
	margin-right: 32px;
	transform: translateY(-2px);
}

.section-auctions__item-title {
	@extend .h2;
	margin-bottom: .6em;
	line-height: 1.2;
}

.section-auctions__item-details {
	margin-bottom: 1.5em;
}

.section-auctions__item-details-item {
	display: inline-flex;
	align-items: center;
	font-weight: 500;

	.icon {
		margin-right: 12px;
	}
	
	& + & {
		margin-left: 32px;
	}
}

.section-auctions__item-description {
	margin-bottom: 2em;
	font-size: 20px;
	line-height: 1.4;
}

.section-auctions__item-share {
	margin-top: 40px;
}

.section-auctions__all-completed-link {
	margin-top: 100px;
	text-align: center;
}

.sell__content--auctions {
	margin-top: 10rem;
	text-align: center;
}

@media only screen and (max-width: 1456px) {
	.section-auctions__item-info {
		flex-basis: 440px;
		padding: 40px 40px 40px;

		.btn {
			width: 100%;
		}
	}

	.section-auctions__item-bage {
		display: block !important;
		width: min-content;
		margin-bottom: 1rem;
	}
}

@media #{$large-and-down} {
	.auctions__how {
		margin-top: 4.5em;
	}

	.section-auctions {
		margin-top: 72px;
	}
	
	.section-auctions__item {
		margin-top: 60px;
	}

	.section-auctions__item-panel {
		flex-wrap: wrap;
		padding: 16px;
	}

	.section-auctions__item-panel-title {
		flex: 1 1 50px;
		font-size: 16px;
	}

	.section-auctions__item-timer {
		flex: 0 0 200px;
	}

	.section-auctions__item-timer-item {
		flex: 0 0 50px;
	}

	.section-auctions__item-alert {
		flex-basis: 100%;
		margin-top: 12px;
	}

	.section-auctions__item-info {
		border-bottom-right-radius: 100px;

		.btn {
			width: 100%;
		}
	}
	
	.section-auctions__item-description {
		font-size: 18px;
	}
}

@media #{$medium-and-down} {
	.section-auctions {
		padding: 0;
	}

	.section-auctions__item {
		display: block;

		& + & {
			margin-top: 0;
		}
	}

	.section-auctions__item-img {
		height: 312px;
	}

	.section-auctions__item-logo {
		left: 24px;
		top: 24px;
		height: 30px;
	}

	.section-auctions__item-panel {
		left: 24px;
		right: 24px;
		bottom: 24px;
	}

	.section-auctions__item-info {
		padding: 48px 24px;
		border-bottom-right-radius: 0;

		.btn {
			width: auto;
		}
	}

	.section-auctions__all-completed-link {
		margin-top: 60px;

		.btn {
			padding: 0 16px;
		}
	}
}

@media #{$small-and-down} {
	.section-auctions__item-info {
		.btn {
			width: 100%;
		}
	}
}
