html, body {
    position: relative;
	height: 100%;
	min-height: 100%;
	// overflow-x: hidden; // fix x-scroll after sidenav // breakes sticky(
	font-family: acumin-pro, sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	color: $color-base;
	letter-spacing: -0.02em;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0;
	transition: opacity .5s ease-in;

	&.loaded,
	&.unsupported {
		opacity: 1;
	}

	&.unsupported {
		& > * {
			display: none !important;
		}

		.unsupported__text {
			display: block !important;
			margin: 10% auto;
			text-align: center;
		}
	}

	&.blocked {
		pointer-events: none;
	}
}

main {
	flex: 1 1 100%;
}

.content {
	padding-left: 60px;
	padding-right: 60px;
}

fieldset {
	border: 0;
}

#svg-sprite {
	display: none;
}

.out {
	position: fixed;
	bottom: 40px;
	height: 40px;
	left: 40px;
	right: 40px;
	background: white;
	z-index: 2000;
}

.general {
	@extend .content;
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;

	.h1 {
		margin-bottom: .7em;
	}
}

.general__inner {
	max-width: $w36;
	margin: 0 auto;

	.general--error & {
		max-width: $w55;

		.h2 {
			margin-top: .5em;
			margin-bottom: .25em;
		}
	}
}

.general-error__code {
	margin-top: 5em;
	color: $color-font-grey;
}

.general__btn {
	margin-top: 3em;
}

.loader-block {
	position: fixed;
	z-index: 1000;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, .8);
}

.loader-section {
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, .8);

	&.loader-section--nooverlay {
		background: none;
	}
}

hr {
	display: block;
    margin: 1em 0;
	height: 1px;
    border: 0;
	background: $color-grey;

	&.small {
		margin: 0.25em 0;
	}
}

.block-aware {
	margin: 1em 0;
	padding: 1.25em;
	font-style: italic;
	color: $color-red;
	background: $color-bg-red;
	border-radius: 6px;
}

.block-aware__label {
	font-weight: 500;
}

.divider-or {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	color: $color-font-grey;
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		height: 1px;
		background: $color-grey;
	}

	span {
		position: relative;
		display: inline-block;
		padding: 0 1rem;
		background: white;
	}


}

.cookies-toast {
	display: flex;
	align-items: center;
}

.cookies-toast__body {
	margin-right: 2em;
}

.cookies-toast__close {
	color: $color-turquoise;
	background-color: white;

	&:hover {
		background-color: $color-bg;
	  }
}

@media #{$media-fullhd-up} {
	$content-padding: calc(50% - 900px);
    .content {
		padding-left: $content-padding;
		padding-right: $content-padding;
	}
}

@media #{$large-and-down} {
    .content {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media #{$small-and-down} {
    .content {
		padding-left: 24px;
		padding-right: 24px;
	}
}
