html, body {
    position: relative;
    height: 100%;
	overflow-x: hidden; // fix x-scroll after sidenav
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	flex: 1 1 100%;
}

.content {
	padding-left: 60px;
	padding-right: 60px;
}

@media #{$media-fullhd-up} {
    .content {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

@media #{$large-and-down} {
    .content {
		padding-left: 16px;
		padding-right: 16px;
	}
}