.card {
	position: relative;
	display: block;
	width: $card-width;
	min-width: $card-width;
	height: $card-height;
	text-align: left;
    background: #ffffff;
	box-shadow: $shadow-base;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	transition: all .3s ease-in-out;
	backface-visibility: hidden;
	will-change: transform;

	&:hover {
		transform: translate3d(0, -2px, 0);
		box-shadow: $shadow-base-hover;
	}

	& + & {
		margin-left: $card-margin;
	}

	&.card--added {
		.card__add {
			display: none;
		}
		.card__added {
			display: inline-block;
		}
	}
}

.card-blog {
    @extend .card;
    max-height: $card-height-m;
}

a.card:not(.btn) { // fix a
	font-weight: 400;
	text-decoration: none;
	background: #fff;

	&:before {
		display: none;
	}

	&.card--archived {
		color: #fff;
		background: $color-base;

		.btn--secondary {
			color: #fff;
  			border: 1px solid #fff;
		}
	}
}

.card__img {
	position: relative;
	height: $card-width;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: color("grey", "darken-4");
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.card-blog__img {
    @extend .card__img;
    max-height: 260px;
	background-size: cover;
}

.card__featured {
	position: absolute;
	left: -30px;
	top: 40px;
	width: 160px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	background: $color-turquoise;
	transform-origin: 30px 50%;
	transform: rotate(-30deg);

	&.card__featured--topselling {
		background: $color-orange; 
	}
}

.card__heart {
	position: absolute;
	right: 16px;
	top: 16px;
}

.card__badge {
	position: absolute;
	left: 16px;
	bottom: 16px;
}

.card__discount {
	position: absolute;
	left: 16px;
	top: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 12px;
	line-height: 1;
	border-radius: 60px;
	background: $color-red;

	.card__featured ~ & {
		top: 64px;
	}
}

.card__discount-value {
	font-size: 20px;
}

.card__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: $card-height - $card-width;
	padding: 24px;
}

.card-blog__info {
    @extend .card__info;
    height: 100% !important;
	max-height: 290px;
}

.card__description {
	flex: 1 1 100%;
	width: 100%;
}

.card-blog__description {
	flex: 1 1 100%;
}

.card__movie {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 2;
   	-webkit-box-orient: vertical;
	max-height: 2.8em;
	margin-bottom: .5em;
	font-size: 20px;
	line-height: 1.4;
}

.card-blog__title {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 3;
   	-webkit-box-orient: vertical;
	max-height: 4.5em;
    margin-bottom: .6em;
}

.card-blog__meta {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 1.5em;
    margin-bottom: 0.5em;
    color: color("grey", "darken-1");
}

.card-blog__meta-link, a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-flat).card-blog__meta-link {
    color: $primary-color;
    font-weight: 600;
    text-decoration: none;
    transition: all .2s ease-in-out;
    &:hover {
        color: $primary-color-light;
    }
}

.card__title {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 2;
   	-webkit-box-orient: vertical;
	max-height: 3em;
	margin-bottom: .5em;
	line-height: 1.5;
	font-weight: 300;

	strong {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.card-blog__excerpt {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 3;
   	-webkit-box-orient: vertical;
	max-height: 4.6em;
	margin-bottom: .5em;
}

.card__price {
	position: relative;
	flex: 0 0 1em;
	margin-bottom: 1.2em;
	padding-right: 24px;
	font-size: 20px;
	line-height: 1;
}

.card__price-flag {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: -4px 4px -1px 0;
	font-size: 16px;
}

.card__price-old {
	color: $color-font-grey;
	text-decoration: line-through;
}

.card__price-new {
	color: $color-red;
}

.card__price-approx {
	display: inline-block;
	font-size: 14px;
	color: $color-font-grey;
}

.card__price-soldon {
	@extend .card__price-approx;
	white-space: nowrap;
}

.card__price-i {
	position: absolute;
	top: -14px;
	right: -16px;
	color: $color-turquoise;

	.icon {
		width: 16px;
		height: 16px;
	}
}

.card__price-sold {
	width: 18px;
	height: 18px;
	margin-right: .25rem;
	font-style: normal;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1;
	border-radius: 50%;
	background: $color-red;

	svg {
		width: 80%;
		height: 80%;
	}
}

.card__price-sold-login {
	font-size: 1rem;
	font-weight: 300;
	text-decoration: underline;
}

.card__date {
	flex: 0 0 1.2em;
	display: flex;
	align-items: center;
	margin-bottom: 1.5em;
	line-height: 1;
}

.card__date-icon {
	margin-right: 12px;
}

.card__date-divider {
	margin: 0 8px;
	font-size: 14px;
	color: $color-grey;
}

.card__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	.btn {
		flex: 1 1 60%;
		padding: 0 8px;
	}

	.btn--secondary {
		flex-basis: 40%;
	}

	.btn + .btn--secondary {
		margin-left: 16px;
	}

	.btn__title + .icon {
		margin-left: 8px;
		margin-top: -5px;
	}
}


.card-blog__actions {
    @extend .card__actions;
    padding-bottom: 8px;
}

.card__added {
	display: none;
	background: $color-green !important;
}

.dropdown-currency {
	min-width: 450px;
	max-width: 100%;
	padding: 16px 32px;
	font-size: 14px;
}

.dropdown-currency__flag {
	width: 16px;
	height: 16px;
	margin: -4px 8px -2px 0;
}

@media #{$breakpoint-4cards} {
    .card {
        width: $card-width-m;
        min-width: $card-width-m;
        height: $card-height-m;
        
        & + & {
            margin-left: $card-margin-m;
        }
    }
    
    .card__img {
        height: $card-width-m;
        &.card-blog__img {
            min-height: 260px;
        }
    }

    .card__info {
        height: $card-height-m - $card-width-m;
        padding: 20px;

        &.card-blog__info {
			padding: 1.5rem 1.5rem 2rem;
        }
    }

    .card__movie {
        font-size: 18px;
    }
    
    .card__title {
        font-size: 14px;
    }
    
    .card-blog__info {
        font-size: 14px;
    }
    
    .card__price {
        margin-bottom: 1em;
        font-size: 18px;
    }

    .card__date {
        margin-bottom: 1.15em;
        font-size: 14px;
    }
}

@media #{$small-and-down} {
	.dropdown-currency {
		left: .5em !important;
		right: .5em !important;
		width: calc(100% - 1em) !important;
		min-width: 0;
		padding: 1em;
	}
}
