$card-width: 356px;
$card-height: 644px;

.card {
	position: relative;
	width: $card-width;
	min-width: $card-width;
	height: $card-height;
	text-align: left;
	background: #fff;
	box-shadow: $shadow-base;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	transition: all .3s ease-in-out;

	&:hover {
		transform: translateY(-2px);
		box-shadow: $shadow-base-hover;
	}

	& + & {
		margin-left: 24px;
	}
}

.card__img {
	position: relative;
	height: $card-width;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: color("grey", "darken-4");
}

.card__heart {
	position: absolute;
	right: 16px;
	top: 16px;
}

.card__badge {
	position: absolute;
	left: 16px;
	bottom: 16px;
}

.card__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: $card-height - $card-width;
	padding: 24px;
}

.card__description {
	flex: 1 1 100%;
}

.card__movie {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 2;
   	-webkit-box-orient: vertical;
	max-height: 2.8em;
	margin-bottom: .5em;
	font-size: 20px;
	line-height: 1.4;
}

.card__title {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 2;
   	-webkit-box-orient: vertical;
	max-height: 3em;
	margin-bottom: .5em;
	line-height: 1.5;
	font-weight: 200;
}

.card__price {
	flex: 0 0 1em;
	margin-bottom: 1.2em;
	font-size: 20px;
	line-height: 1;
}

.card__date {
	flex: 0 0 1.2em;
	display: flex;
	align-items: center;
	margin-bottom: 1.5em;
	line-height: 1;
}

.card__date-icon {
	margin-right: 12px;
}

.card__date-divider {
	margin: 0 8px;
	font-size: 14px;
	color: $color-grey;
}

.card__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	.btn {
		flex: 1 1 60%;
		padding: 0 16px;
	}

	.btn--secondary {
		flex-basis: 40%;
	}

	.btn + .btn {
		margin-left: 16px;
	}
}

@media #{$breakpoint-4cards} {
	$card-width: 304px;
	$card-height: 550px;

	.card {
		width: $card-width;
		min-width: $card-width;
		height: $card-height;
		
		& + & {
			margin-left: 16px;
		}
	}
	
	.card__img {
		height: $card-width;
	}

	.card__info {
		height: $card-height - $card-width;
		padding: 20px;
	}

	.card__movie {
		font-size: 18px;
	}
	
	.card__title {
		font-size: 14px;
	}
	
	.card__price {
		margin-bottom: 1em;
		font-size: 18px;
	}
	
	.card__date {
		margin-bottom: 1.15em;
		font-size: 14px;
	}
}