.card {
	width: 356px;
	height: 644px;
	background: #fff;
	box-shadow: 0px 8px 32px -10px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	transition: all .3s ease-in-out;

	&:focus,
	&:hover {
		transform: translateY(-2px);
		box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.5);
	}

	& + & {
		margin-left: 24px;
	}
}

.card__img {
	position: relative;
	height: 356px;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: color("grey", "darken-4");
}

.card__heart {
	position: absolute;
	right: 16px;
	top: 16px;
}

.card__badge {
	position: absolute;
	left: 16px;
	bottom: 16px;
}

.card__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: 288px;
	padding: 24px;
}

.card__description {
	flex: 1 1 100%;
}

.card__movie {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 2;
   	-webkit-box-orient: vertical;
	max-height: 56px;
	margin-bottom: 12px;
	font-size: 20px;
	line-height: 1.4;
}

.card__title {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 2;
   	-webkit-box-orient: vertical;
	max-height: 48px;
	margin-bottom: 8px;
	line-height: 1.5;
}

.card__price {
	flex: 0 0 20px;
	margin-bottom: 24px;
	font-size: 20px;
}

.card__date {
	flex: 0 0 20px;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.card__date-icon {
	margin-right: 12px;
}

.card__date-divider {
	margin: 0 8px;
	font-size: 14px;
	color: $color-grey;
}

.card__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	.btn {
		flex: 1 1 60%;
		padding: 0 16px;
	}

	.btn--secondary {
		flex-basis: 40%;
	}

	.btn + .btn {
		margin-left: 16px;
	}
}
