.cards {
	padding-top: 20px;
	padding-bottom: 100px;
	padding-left: 48px;
	padding-right: 48px;
	background: $color-bg;
}

.cards-blog {
    @extend .cards;
    &.cards-blog--single {
        padding-bottom: 120px;
    }
}


.cards__inner {
	max-width: $width-4cards + $card-margin;
	margin: 0 auto;
	transform: translateX($card-margin / 2);
}

.cards__list {
	display: flex;
	flex-wrap: wrap;

	.card,
	.card-auction {
		margin: 5em $card-margin 0 0;

		& + & {
			margin: inherit;
		}
	}
}

.cards-blog__title {
    text-align: center;
    margin: 0;
    padding-top: 3.5em;
    padding-bottom: 1em;
}

.cards__showing-results {
	padding-top: 4em;
	text-align: center;
}

.cards__showing-results-label {
	margin-bottom: .5em;
}

.cards__showing-results-value {
	font-size: 2.2em;
}

@media #{$breakpoint-4cards} {
	.cards {
		padding-top: 0;
		padding-bottom: 60px;

		.card__actions {
			.btn {
				width: 100%;
			}
		}
	}

	.cards__inner {
		max-width: $width-4cards-m + $card-margin-m;
		transform: translateX($card-margin-m / 2);
	}
	
	.cards__list {
		margin-left: -$card-margin-m;
		transform: translateX($card-margin-m);
	
		.card,
		.card-auction {
			margin: 5em $card-margin-m 0 0;
		}
	}
}

@media only screen and (max-width: #{$width-4cards-m + 110}) {
	.cards__inner {
		max-width: $card-width-m * 3 + $card-margin-m * 3;
	}
}


@media #{$breakpoint-pre-tablet} {
	.cards {
		.card {
			width: 33.333%;
			max-width: calc(33.333% - #{$card-margin-m});
			min-width: 0;
			height: $card-height-m;
		}
    }
}


@media #{$large-and-down} {
	.cards {
		padding-left: 40px;
		padding-right: 24px;
	}

	.cards__inner {
		transform: none;
	}

	.cards__list {
		.card,
		.card-auction {
			margin-top: 3.75em;
		}
	}
}

@media #{$medium-and-down} {
	.cards {
		padding-left: 24px;
		padding-right: 0;

        .cards-blog {
            margin-top: 1.25em;
        }

        .card__info.card-blog__info {
            max-height: 256px;
        }

		.cards__list {
			margin-left: 0;
			transform: none;

			.card,
			.card-auction {
				margin-top: 2.5em;
			}
		}

		.card {
			width: 50%;
			max-width: calc(50% - #{$card-margin-m * 1.25});
			min-width: 0;
			height: $card-height-s;
		}

		.card-auction {
			width: calc(100% - #{$card-margin-m * 2});
			min-width: 0;
			height: $card-height-s;
		}
		
		.card__img {
			height: $card-width-s;
		}

		.card__discount {
			left: .5rem;
			top: .5rem;
		}

		.card__heart {
			right: .5rem;
			top: .5rem;
		}

		.card__badge {
			left: .5rem;
			bottom: .5rem;
			font-size: 10px;
		}
	
		.card__info:not(.card-blog__info) {
			height: $card-height-s - $card-width-s;
			padding: 20px 16px 16px;
		}
	
		.card__movie {
			font-size: 16px;
		}
		
		.card__title {
			font-size: 14px;
			-webkit-line-clamp: 3;
			max-height: 4.5em;
		}
		
		.card__price {
			font-size: 16px;
		}

		.card__price-approx,
		.card__price-soldon {
			font-size: 12px;
		}
		
		.card__date {
			position: relative;
			display: block;
			margin-bottom: 1.15em;
			padding: 3px 0 0 24px;
			font-size: 14px;
		}

		.card__date-icon {
			position: absolute;
			left: 0;
			top: 0;
		}

		.card__date-divider {
			display: block;
			line-height: 6px;
			opacity: 0;
		}

		.card__actions {
			display: block;

			.btn {
				height: 48px;
				line-height: 48px;
			}

			.btn + .btn--secondary {
				margin-left: 0;
				margin-top: 16px;
			}
		}
	}

	.cards__showing-results-value {
		font-size: 1.7em;
	}
}

@media #{$small-and-down} {
	.cards {
		.card-auction {
			height: $card-width-s * 2 + $card-margin-m;
		}
        &.cards--blog {
            padding-bottom: 0;
        }
        .card-blog {
            width: 100%;
            max-width: 100%;
            margin-right: 24px;
        }
	}

}
