.exhibition__row {
	display: flex;
}

.exhibition__img {
	min-width: 50%;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all .3s ease-in-out;
}

.exhibition__info {
	position: relative;
	width: 100%;
	max-width: 50%;
	padding: 140px 0;
	color: #fff;
	background: $color-base;
	z-index: 1;

	.h2 {
		margin: 0 0 .5em;
		font-weight: 300;
	}
}

.exhibition__text {
	margin-bottom: 2em;
}

.exhibition__info-inner {
	max-width: 508px;
	margin: 0 auto;
}

.exhibition__row:nth-child(even) {
	.exhibition__info {
		order: 0;
	}

	.exhibition__img {
		order: 1;
	}
}

@media #{$media-fullhd-up} {
	.exhibition__info-inner {
		margin: 0 auto 0 240px;

		.exhibition__row:nth-child(even) & {
			margin: 0 240px 0 auto;
		}
	}
}

@media #{$extra-large-and-up} {
	.exhibition__row:first-child {
		.exhibition__img {
			min-width: calc(50% + 140px);
		}
		.exhibition__info {
			margin-left: -140px;
			border-top-left-radius: 140px;
		}
	}
	
	.exhibition__row:last-child {
		.exhibition__img {
			min-width: calc(50% + 140px);
		}
		.exhibition__info {
			margin-left: -140px;
			border-bottom-left-radius: 140px;
		}
	}
	
	.exhibition__row:last-child:nth-child(even) {
		.exhibition__info {
			margin-left: 0;
			margin-right: -140px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 140px;
		}
	}
}

@media #{$large-and-down} {
	.exhibition__row {
		display: block;
	}

	.exhibition__img {
		display: block;
		height: 30vh;
	}

	.exhibition__info {
		max-width: 100%;
		margin: 0;
		padding: 80px 0;
		text-align: center;
	}
}

@media #{$medium-and-down} {
	.exhibition__info {
		padding: 64px 24px;
		text-align: left;
	}
}
