.faq {
	@extend .content;
	text-align: center;

	.h1 {
		margin-bottom: .7em;
	}
}

.faq__inner {
	max-width: $width-4cards;
	margin: 0 auto;
    &.faq__inner--narrow {
        max-width: 36em;
    }
}

.faq__search-container {
    display: inline-flex;
    justify-content: center;
    min-width: 356px;
}

.faq__collapsible {
    border: none;
    box-shadow: none;
    li {
        margin-bottom: 12px;
        box-shadow: 0px 8px 32px -10px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        transition: box-shadow .2s ease-in;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            box-shadow: 0px 8px 32px -10px rgba(0, 0, 0, 0.25);
        }
        &.active {
            .faq__collapsible-header .icon {
                transform: rotate(45deg);
            }
        }
    }
}

.faq__collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.625rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    border: none;
    .icon {
        width: 18px;
        height: 18px;
        margin-right: 0;
        transition: transform .2s ease-out;
    }
}

.faq__collapsible-body {
  padding: 0 1.625rem 1.625rem 1.625rem;
  text-align: left;
  & > p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }  
}

.faq__search-suggester {
    position: absolute;
    top: 57px;
    z-index: 9;
    width: 100%;
    background: #FFF;
    border: 1px solid $color-grey;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, .15);
    border-radius: 4px;
        &:empty:before {
            content: 'Start typing...';
            display: flex;
            justify-content: center;
            padding: 19px;
            font-weight: 300;
        }
    &.faq__search-suggester--init {
        display: none;
    }
    &.faq__search-suggester--empty {
        &:empty:before {
            content: 'Nothing found';
            display: flex;
            justify-content: center;
            padding: 19px;
            font-weight: 300;
        }
    }
}

.faq__search-suggester__item {
    display: flex;
    text-decoration: none;
    max-height: 4.5em;
    padding: 19px;
    margin: 0;
    text-align: left;
    font-weight: 300;
    cursor: pointer;
    transition: background .2s ease-in;
    &:hover {
        background: rgba(0,0,0,0.05);
    }
}

.faq__search-suggester__item-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

a.faq__search-suggester__item:not(.btn):not(.btn-large):not(.btn-small):not(.btn-extra-small):not(.btn-flat) {
    text-decoration: none;
    &:hover {
        background: rgba(0,0,0,0.05);
    }
}