.filters {
	@extend .content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2.5em;
	padding-bottom: 2em;
	background: #fff;

    &.filters--centered {
        align-items: baseline;
        justify-content: center;
    }
    &.filters--small-top-gap {
        padding-top: 24px;
    }
    &.filters--faq {
        padding-top: 0;
        padding-bottom: 72px;
    }
}

.filters__header {
	flex-basis: 30%;
	padding-bottom: 1em;
}

.filters__found {
	margin-bottom: 1rem;
	white-space: nowrap;
}

.filters__found-all {
	margin-left: 1rem;
	color: $color-font-grey;
	font-size: 1rem;

	a:not(.btn) {
		color: $primary-color;
	}
}

.filters__found-plus {
	margin-left: .5rem;
	font-weight: 600;
}

.filters__tabs {
	display: flex;
	align-items: center;
}

.filters__tab {
	white-space: nowrap;

	&.active {
		cursor: pointer;
	}

	& + & {
		margin-left: .5rem;
	}
}

.filters__inputs {
	display: flex;

	.input-field input {
		color: $placeholder-text-color;
	}

	.input-field--autocomplete input,
	.input-field--filled input {
		color: $color-base;
	}

	.input-field {
		margin: 0;
	}

	.input-field + .input-field {
		margin-left: 1.5rem;
	}
}

.filters__inputs {
	display: flex;
	justify-content: space-between;

	.input-field {
		width: 100%;
	}
}

.filters__menu-categories {
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 16px;
    &.filters__menu-categories--faq {
        justify-content: center;
    }
}

.filters__menu-category {
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
}

.filters__search-container {
    display: inline-flex;
    min-width: 264px;
}

.input-field--filters {
    margin-top: inherit;
}

.filters__open-button,
.filters__open-button-header {
	display: none;
	justify-content: flex-end;

	.icon {
		display: inline-flex;
		width: 20px;
		height: 20px;
	}
}

.filters__open-button,
.filters__open-button-header-button {
	justify-content: center;
	align-items: center;
	border: 1px solid $button-raised-background;
}

.filters__open-button-header-button {
	width: 100%;
	max-width: 18rem;
}

.filters__select-category {
	display: none;
}

.filters__enabled {
	display: none;
	position: absolute;
	right: .75rem;
	top: 0.75rem;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background: $color-turquoise;
	border-radius: 2rem;
}

.sidenav-filter {
	.sidenav__inner {
		min-height: calc(100% - 112px);
		justify-content: flex-start;
		padding-bottom: 0;
	}
}

.sidenav__filter-title {}

.sidenav__filter-inputs {
	position: relative;

	.filters__inputs {
		display: block;
	}

	.input-field + .input-field {
		margin-left: 0;
		margin-top: 2rem;
	}
}

.sidenav__filter-action {
	position: sticky;
	z-index: 100;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 24px 32px 24px 24px;
	background: #fff;

	.btn {
		flex: 1 1 50%;
	}

	.btn + .btn {
		margin-left: 24px;
	}
}

.filters__search {
	display: none;
	margin: 0;
	padding: 0 2rem;

	input[type=search] {
		height: 64px !important;
		padding: 0 1.5em !important;
		font-size: 36px;
		font-weight: 300;
		text-align: center;
	}
}

.header__filters {
	.filters {
		position: relative;
		padding-top: 1.5em;
		padding-bottom: 0;
		border-top: 1px solid $color-grey;
		z-index: 10;
	}

	.filters__body {
		position: relative;
		@extend .content;
		padding-bottom: 1.5em;
	}
}

@media #{$extra-large-and-up} {
	.filters__header {
		min-width: min-content;
		padding-right: 2rem;
	}

	.header__filters {
		.filters {
			padding-bottom: 1.5em;
		}

		.filters__search {
			flex: 0 1 $w36;
			display: inline-block;
		}	

		.filters__open-button-header {
			display: flex;
			flex-basis: 25%;
		}

		.filters__body {
			padding-top: 1.5em;
			background: white;
			border-top: 1px solid $color-grey;

			position: absolute;
			pointer-events: none;
			margin-top: -8rem;
			transform-origin: 50% 0;
			transition: all .1s ease-in-out;
			z-index: 1; // under .filters
	
			&.active {
				position: relative;
				pointer-events: all;
				margin-top: 0;
			}
		}
	}
}

@media #{$large-and-down} {
	.filters {
		display: block;
        
       &.filters--small-top-gap {
            padding-top: 40px;
        }

		.filters__inputs {
			display: none;
		}

		.filters__menu-categories {
			display: none;
		}
        
        .filters__search-container {
            display: block;
        }

        &.filters--faq {
            padding: 0 0 18px 0;
        }
	}

	.filters__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.filters__open-button {
		display: flex;
		width: 100%;
	}

	.filters__select-category {
		display: block;
	}
    
    .input-field--filters {
        margin-top: 0px;
    }
}

@media #{$medium-and-down} {
	.filters__header {
		display: block;
		padding-bottom: 1.5em;
	}

	.filters__found {
		white-space: normal;
	}
}
