.filters {
	@extend .content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 24px;
	background: #fff;
    &.filters--centered {
        align-items: baseline;
        justify-content: center;
    }
    &.filters--small-top-gap {
        padding-top: 24px;
    }
}

.filters__header {
	flex-basis: 25%;
	padding-bottom: 1em;
}

.filters__found {
	margin-bottom: .2em;
	font-size: 24px;
}

.filters__inputs {
	display: flex;

	.input-field input {
		color: $placeholder-text-color;
	}

	.input-field--autocomplete input,
	.input-field--filled input {
		color: $color-base;
	}

	.input-field + .input-field {
		margin-left: 1.5rem;
	}
}

.filters__body {
    display: flex;
    flex-direction: column;
}

.filters__menu-categories {
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 16px;
}

.filters__menu-category {
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
}

.filters__search-container {
    display: inline-flex;
    min-width: 264px;
}

.input-field--filters {
    margin-top: inherit;
}

.filters__open-button {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 1px solid $button-raised-background;

	.icon {
		display: inline-flex;
		width: 20px;
		height: 20px;
	}
}

.filters__select-category {
	display: none;
}

.filters__enabled {
	display: none;
	position: absolute;
	right: .75rem;
	top: 0.75rem;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background: $color-turquoise;
	border-radius: 2rem;
}

.sidenav-filter {
	.sidenav__inner {
		min-height: calc(100% - 112px);
		justify-content: flex-start;
		padding-bottom: 0;
	}
}

.sidenav__filter-title {
	margin-bottom: 1.5em;
	font-size: 24px;
}

.sidenav__filter-inputs {
	position: relative;

	.filters__inputs {
		display: block;
	}

	.input-field + .input-field {
		margin-left: 0;
		margin-top: 2rem;
	}
}

.sidenav__filter-action {
	position: sticky;
	z-index: 100;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 24px 32px 24px 24px;
	background: #fff;

	.btn {
		flex: 1 1 50%;
	}

	.btn + .btn {
		margin-left: 24px;
	}
}

@media #{$large-and-down} {
    .filters__body {
        flex-direction: row;
    }
	.filters {
		display: block;
		padding-top: 40px;
		padding-bottom: 40px;
        
       &.filters--small-top-gap {
            padding-top: 40px;
        }

		.filters__inputs {
			display: none;
		}

		.filters__menu-categories {
			display: none;
		}
        
        .filters__search-container {
            display: block;
        }
	}

	.filters__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.filters__open-button {
		display: flex;
	}

	.filters__select-category {
		display: block;
	}
    
    .input-field--filters {
        margin-top: 0px;
    }
}
