.footer__signup {
	padding: 50px 16px 100px;
	text-align: center;
}

.footer__signup-title {
	font-size: 36px;
}

.footer__bottom {
	padding: 140px;
	color: #fff;
	background: $color-base;
	border-top-left-radius: 140px;
}
