header {
    position: relative;
	flex: 0 0 152px; // 40 .header__settings + 112 .header__main
}

.header__settings {
	@extend .content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	background: $color-bg;
}

.header__btn {
	height: 40px;
	line-height: 40px;
	color: $color-font-grey;
}

.header__currency {
	@extend .header__btn;
	margin-left: -8px;
}

.header__settings-divider1,
.header__settings-divider2 {
	color: $color-grey;
	font-size: 12px;
}

.header__settings-divider2 {
	margin: 0 -4px;
}


#header-currency {
	li {
		padding: 0 8px;
	}
	.btn-flat {
		background-color: rgba(0,0,0,0) !important;
	}
}

.modal-register {
	max-width: 584px;
	text-align: center;

	.btn {
		width: 100%;
		margin-bottom: 32px;
	}

	.input-field {
		margin-bottom: 20px;
	}
}

.btn--facebook {
	font-size: 16px;
	letter-spacing: 0;
	text-transform: none;
	background: #415893;

	.icon {
		margin: -4px 8px 0 0;
	}
}

.modal-register__terms {
	font-size: 14px;
	margin-top: -10px;
	margin-bottom: 20px;
}

.modal-register__forgot {
	margin-top: -20px;
	margin-bottom: 40px;
}

.modal-register__switch {
	font-size: 16px;
}

.header__main {
	@extend .content;
	height: 112px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;

	&.sticky-in,
	&.sticky-out {
		position: fixed;
		z-index: 900;
		top: 0;
		width: 100%;
		height: 96px;
		box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
		animation: animation-header-sticky-in .3s ease-in-out forwards;
	}

	&.sticky-out {
		animation-name: animation-header-sticky-out;
	}
}

.header__col {
    &.header__col--left,
    &.header__col--right {
        flex: 0 0 400px; // same width to left & right to center logo
    }

    &.header__col--right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.header__main-links {
	margin-left: -16px;
    white-space: nowrap;
}

.header__main-link {
	padding: 0 16px;
}

.header__logo {
    svg {
        width: 200px;
        height: 48px;
    }
}

.header__cart {
	position: relative;
	margin-left: 24px;
}

.header__cart-number {
	position: absolute;
	top: 4px;
	right: -2px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	background: $color-turquoise;
	border-radius: 24px;
	z-index: 1;
}

.header__burger {
    display: none;

    .icon {
        width: 32px;
    }
}

@keyframes animation-header-sticky-in {
	0% { transform: translateY(-100%); }
	100% { transform: translateY(0); }
}

@keyframes animation-header-sticky-out {
	0% { transform: translateY(0); }
	100% { transform: translateY(-100%); }
}

@media #{$media-mobile} {
    .header__settings,
    .header__main-links {
        display: none;
    }

	.header__main {
		&.sticky-in,
		&.sticky-out {
			height: 152px;
			padding-bottom: 56px;
		}
	}

    .header__burger {
        display: block;
    }

    .header__col {
        &.header__col--left,
        &.header__col--right {
            flex: 0 0 32px;
        }
    }

    .header__logo {
        svg {
            width: 160px;
            height: 40px;
        }
    }

    .header__search {
        position: absolute;
        left: 16px;
		right: 16px;
        bottom: 0;
		max-width: none;
    }
}