$header-settings-height: 40px;
$header-main-height: 112px;
$header-main-sticky-height: 96px;
$header-main-padding-m: 56px;

header {
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 900;
	flex: 0 0 #{$header-settings-height + $header-main-height};
	background: #fff;

	&.sticky-in,
	&.sticky-out {
		position: fixed;
		top: -$header-settings-height;
		flex-basis: #{$header-settings-height + $header-main-sticky-height};
		box-shadow: $shadow-header;
		animation: animation-header-sticky-in .2s ease-in-out forwards;

		.header__main {
			height: $header-main-sticky-height;
		}

		.header__menu-link {
			height: $header-main-sticky-height;
			line-height: $header-main-sticky-height;
		}
	}

	&.sticky-out {
		animation-name: animation-header-sticky-out;
	}

	& ~ main {
		padding-top: $header-settings-height + $header-main-height;
	}
}

.header__main {
	@extend .content;
	position: relative;
	height: $header-main-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: height .1s ease-in-out;
}

.header__settings {
	position: relative;
	z-index: 910;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	padding-left: 60px;
	padding-right: 60px;
	background: $color-bg;
}

.header__btn {
	height: 40px;
	line-height: 40px;
	color: $color-font-grey;
	white-space: nowrap;
}

.header__settings-divider1,
.header__settings-divider2 {
	color: $color-grey;
	font-size: 12px;
}

.header__settings-divider2 {
	margin: 0 -4px;
}

.header__guest {
	white-space: nowrap;
}

.modal-register {
	max-width: $w36;
	text-align: center;

	.btn {
		width: 100%;
	}

	.input-field {
		margin-bottom: 1em;
	}

	.input-field + .input-field {
		margin-top: 2em;
	}

	.g-recaptcha-field {
		margin-bottom: 2em;
	}

	.g-recaptcha {
		display: inline-block;
	}
}

.modal-register__remember {
	margin-top: 2em;
	text-align: left;
}

.modal-form__submit,
.modal-register__submit {
	.preloader-wrapper {
		display: none;
		width: 20px;
		height: 20px;
		margin: 0 0 -4px 16px;
	}
}

.modal-form,
.modal-password-form,
.modal-register-form,
.modal-signin-form {
	&.sync {
		pointer-events: none;

		.modal-form__submit .icon,
		.modal-register__submit .icon {
			display: none;
		}
		.preloader-wrapper {
			display: inline-block;
		}
	}
}

.btn--facebook {
	font-size: 16px;
	letter-spacing: 0;
	text-transform: none;
	background: #415893;

	.icon {
		margin: -4px 8px 0 0;
	}

	&:hover {
		background: #4e6bb3;
	}
}

.modal-register__facebook {
	margin-bottom: 2em;
}

.modal-register__terms {
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 14px;
}

.modal-register__forgot {
	margin-top: 2em;
	margin-bottom: 3em;
}

.modal-register__switch {
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 16px;
}

.modal-password-form.modal-content {
	padding-bottom: 4em;
}

.header__col {
    &.header__col--left,
    &.header__col--right {
        flex: 0 0 440px; // same width to left & right to center logo
    }

	&.header__col--left {
		align-self: flex-end;
	}

	&.header__col--center {
		padding-top: 8px;
	}

    &.header__col--right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.header__menu {
    white-space: nowrap;
}

.header__menu-link {
	position: relative;
	height: $header-main-height;
	line-height: $header-main-height;
	margin-left: 32px;
	padding: 0;
	transition: all .1s ease-in-out;

	.header__menu.active & {
		color: $color-grey;

		&:hover,
		&.active {
			color: $color-base !important;
		}
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 4px;
		background: $color-base;
		transform-origin: 50% 100%;
		transform: scaleY(0);
		transition: all .2s ease-in-out;

	}

	&:focus {
		background-color: rgba(0, 0, 0, 0);
	}

	&:hover,
	&.active {
		color: $color-grey !important;
		background-color: rgba(0, 0, 0, 0);
	}

	&.active {
		&:before {
			transform: scaleY(1);
		}
	}

	&:first-child {
		margin-left: 0;
	}
}

.header__menu-link-handle {
	display: inline-block;
	height: 70%;
}

.header__menu-level1 {
	display: block !important;
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 100%;
	background: #fff;
	border-top: 1px solid $color-grey;
	box-shadow: $shadow-header;
	z-index: 890;
	opacity: 0;
	pointer-events: none;
	transform-origin: 0 0;
	transform: scaleY(0);
	transition: all .01s ease-in-out;
	transition-delay: .1s;

	header:not(.sticky-out) .header__menu-link.active + & {
		transform: scaleY(1);
		opacity: 1;
		pointer-events: all;
		transition-property: transform;
		transition-delay: 0;

		.header__menu-level-block > * {
			opacity: 1;
			transform: translateY(0);
			transition-delay: .1s;
		}
	}
}

.header__menu-level1-inner {
	@extend .content;
	padding-right: 0;
	display: flex;
	justify-content: space-between;

	.header__menu-level1--sell & {
		@extend .content;
	}
}

.header__menu-level-block > * {
	opacity: 0;
	transform: translateY(-24px);
	transition: all .1s ease-in-out;
}

.header__menu-level-block--1 {
	flex: 1 1 20%;
	padding: 60px 5% 60px 0;

	img {
		width: 100%;
	}
}

.header__menu-level-block--2 {
	flex: 1 1 20%;
	padding: 60px 40px 60px 0;
}

.header__menu-level-block--3 {
	flex: 1 1 60%;
	padding: 60px 64px 64px;
	background: $color-bg;
}

.header__menu-level-block--4 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	padding: 60px 0;
	text-align: center;
}

.header__menu-level-title {
	display: block;
	margin-bottom: 12px;
	font-size: 20px;
	letter-spacing: 0;
	font-weight: 400;
	text-transform: none;
}

.header__menu-level-link {
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	letter-spacing: 0;
	font-weight: 300;
	text-transform: none;
}

.header__menu-block3-title {
	margin-bottom: 16px;
	font-size: 20px;
	letter-spacing: 0;
	font-weight: 400;
	text-transform: none;
}

.header__menu-block3-links {
	display: flex;
	flex-wrap: wrap;
}

.header__menu-block3-link,
header .menu-auction-link {
	display: block;
	width: 176px;
	height: auto;
	padding: 8px;
	line-height: 1.2;
	font-size: 14px;
	letter-spacing: 0;
	text-transform: none;
	white-space: normal;

	.icon {
		display: block;
		width: 100%;
		height: 96px;
		margin-bottom: 12px;
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: color("grey", "darken-4");
	}

	.header__menu-level1--auctions & {
		width: 216px;

		.icon {
			height: 122px;
		}
	}
}

.header__menu-block4-link {
	min-width: 280px;
	max-width: 280px;
	margin: 0 7%;
	text-decoration: none !important;

	img {
		display: block;
		width: 100%;
		margin-bottom: 16px;
	}

	&:focus,
	&:hover {
		transition: all .3s ease-in-out;
		transform: translateY(-8px) !important;

		&:before {
			display: none;
		}
	}
}

.header__logo {
    svg {
        width: 200px;
        height: 48px;
		fill: currentColor;
    }

	&:before {
		display: none;
	}
}

.header__search {
	width: 356px;
}

.header__bag {
	position: relative;
	margin-left: 24px;

	.icon {
		width: 22px;
		height: 27px;
	}
}

.header__bag-number {
	position: absolute;
	top: 4px;
	right: -2px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	background: $color-turquoise;
	border-radius: 24px;
	z-index: 1;
	transform: scale(1);
	transition: all .1s ease-in-out;

	&.empty {
		transform: scale(0);
	}
}

.header__burger {
    display: none;

    .icon {
        width: 32px;
    }
}

.modal-bag {
	min-width: 504px;
	padding: 0;
	box-shadow: $shadow-base-hover;

	.modal__title {
		margin-top: -48px;
		margin-bottom: 1.5rem;
	}

	.modal-content {
		padding: 0 56px 32px;
	}

	.modal__footer {
		text-align: center;
		padding-bottom: 2em;
	}
}

.modal-bag__intro {
	margin-bottom: 2em;
	font-weight: 300;
}

.modal-bag__items {
	border-top: 1px solid $color-grey;
}

.modal-bag__item {
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
	border-bottom: 1px solid $color-grey;
}

a.modal-bag__item:not(.btn) { // fix a
	font-weight: 400;
	text-decoration: none;

	&:before {
		display: none;
	}
}

.modal-bag__item-img {
	flex: 0 0 100px;
	height: 100px;
	margin-right: 24px;
	border-radius: 6px;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: color("grey", "darken-4");
}

.modal-bag__item-movie {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 2;
   	-webkit-box-orient: vertical;
	max-height: 2.8em;
	margin-bottom: .5em;
	font-size: 16px;
	line-height: 1.4;
}

.modal-bag__item-title {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 2;
   	-webkit-box-orient: vertical;
	max-height: 3em;
	margin-bottom: .5em;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 300;
}

.modal-bag__item-price {
	font-size: 16px;
	line-height: 1;
}

.modal-bag__item-actions {
	flex: 0 0 24px;
	text-align: right;

	.btn-flat {
		margin-top: -12px;
		margin-right: -8px;
		padding: 0;

		.icon {
			width: 12px;
			height: 12px;
		}
	}
}

.modal-bag__total {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: .75em;
	font-size: 20px;
	font-weight: 500;

	.bag__price-approx {
		display: block;
	}
}

.modal-bag__total-value {
	text-align: right;
}

.modal-bag__submit {
	width: 100%;
}

.modal-bag__continue {
	margin-top: 1.5em;
	margin-bottom: .5em;
}

@keyframes animation-header-sticky-in {
	0% { transform: translateY(-100%); }
	100% { transform: translateY(0); }
}

@keyframes animation-header-sticky-out {
	0% { transform: translateY(0); }
	100% { transform: translateY(-100%); }
}

@media only screen and (max-width: 1300px) {
	.header__menu-block4-link {
		min-width: 200px;
		max-width: 200px;
		margin: 0 5%;
	}
}

@media #{$large-and-down} {
	.header__settings {
		padding-left: 40px;
		padding-right: 40px;
	}

	.header__col {
		&.header__col--left,
		&.header__col--right {
			flex-basis: 330px;
		}
	}

	.header__logo {
		svg {
			width: 160px;
		}
	}

	.header__search {
		width: auto;
        max-width: 248px;
    }

	header .menu-auction-link {
		width: 176px;
	
		.icon {
			height: 96px;
		}
	}
}

@media #{$medium-and-down} {
    .header__settings,
    .header__menu {
        display: none;
    }

	header {
		top: 0 !important;
	}

	.header__main {
		&,
		header.sticky-in &,
		header.sticky-out & {
			height: $header-main-sticky-height + $header-main-padding-m;
			padding-bottom: $header-main-padding-m;	
		}
	}

    .header__burger {
        display: block;
    }

    .header__col {
        &.header__col--left,
        &.header__col--right {
            flex-basis: 48px;
        }

		&.header__col--left {
			align-self: center;
		}
    }

    .header__search {
        position: absolute;
        left: 40px;
		right: 40px;
        bottom: 0;
		max-width: none;
    }

	.header__bag {
		margin: 0;
	}
}

@media #{$small-and-down} {
    .header__search {
        left: 24px;
		right: 24px;
    }

	.modal-bag {
		min-width: 100%;

		.modal-content {
			padding: 0 24px 24px;
		}
	}
}
