.hero {
	@extend .content;
}

.hero__inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 800px;
	color: #fff;
	background: $color-base;
	border-bottom-right-radius: 140px;
}

.hero__carousel {
	flex: 1 1 60%;
	position: relative;
	height: 100%;
	z-index: 100;
	overflow: hidden;
}

.hero__info {
	flex: 1 1 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px;
}

.hero__info-item {
	max-width: 432px;
	opacity: 1;
	pointer-events: all;
	transition: opacity .3s .3s ease-in-out;

	&.hide {
		position: absolute;
		display: block !important;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s ease-in-out;
	}
}

.hero__suptitle {
	margin-bottom: 24px;
	font-size: 14px;
	font-weight: 600;
  	letter-spacing: .12em;
}

.hero__title {
	margin-bottom: 32px;
	font-size: 52px;
	line-height: 60px;
}

.hero__description {
	margin-bottom: 32px;
	font-size: 20px;
	line-height: 28px;
}

.hero__details {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	.icon {
		margin-right: 12px;
	}
}

.hero__btn {
	margin-top: 32px;
}
