.hero {
	@extend .content;
	height: 800px;
	max-height: 100vh;
}

.hero__inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	color: #fff;
	background: $color-base;
	border-bottom-right-radius: 140px;
}

.hero__carousel {
	flex: 1 1 60%;
	position: relative;
	height: 100%;
	z-index: 100;
	overflow: hidden;
}

.hero__info {
	flex: 1 1 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 48px 32px 64px;
}

.hero__info-item {
	max-width: 432px;
	opacity: 1;
	pointer-events: all;
	transition: all .3s .3s ease-in-out;

	&.hide {
		position: absolute;
		display: block !important;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		transition: all .3s ease-in-out;
	}
}

.hero__suptitle {
	margin-bottom: 24px;
	font-size: 14px;
	font-weight: 600;
  	letter-spacing: .12em;
}

.hero__title {
	margin-bottom: 32px;
	font-size: 52px;
	line-height: 1.1;
}

.hero__description {
	margin-bottom: 32px;
	font-size: 20px;
	line-height: 1.4;
}

.hero__details {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	.icon {
		margin-right: 12px;
	}
}

.hero__btn {
	margin-top: 32px;
}

@media #{$media-mobile} {
	.hero {
		height: auto;
		max-height: none;
		padding-left: 0;
		padding-right: 0;
	}

	.hero__inner {
		display: block;
		border-bottom-right-radius: 80px;
	}

	.hero__carousel {
		height: 240px;
	}

	.hero__info {
		padding: 48px 24px 64px;
	}

	.hero__suptitle {
		margin-bottom: 16px;
		font-size: 12px;
	}

	.hero__title {
		margin-bottom: 20px;
		font-size: 36px;
	}
	
	.hero__description {
		margin-bottom: 20px;
		font-size: 18px;
	}

	.hero__details {
		margin-bottom: 8px;
	}
	
	.hero__btn {
		margin-top: 16px;
	}
}

@media only screen and (max-width: 480px) {
	.hero__info {
		position: relative;
		display: block;
	}

	.hero__info-item {
		&.hide {
			top: 48px;
			left: 24px;
			right: 24px;
			width: auto;
		}
	}
}