.hero {
	@extend .content;
	height: 800px;
	max-height: 100vh;

	&.hero--static {
		height: 500px;
	}

	&.hero--tall {
		height: 800px;
	}
}

.hero__inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	color: #fff;
	background: $color-base;
	border-bottom-right-radius: 140px;
}

.hero__carousel {
	flex: 1 1 60%;
	position: relative;
	height: 100%;
	z-index: 100;
	overflow: hidden;
}

.hero__image {
	flex: 1 1 60%;
	height: 100%;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.hero__info {
	position: relative;
	flex: 1 1 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 48px 32px 64px;
}

.hero__info-item {
	transition: opacity .3s ease-in-out;

	&.hide {
		display: block !important;
		width: 0;
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
	}
}

.hero__info-item-inner {
	max-width: 432px;
}

.hero__suptitle {
	margin-bottom: 24px;
	font-size: 14px;
	font-weight: 600;
  	letter-spacing: .12em;
}

.hero__title {
	margin-bottom: 32px;
	font-size: 52px;
	line-height: 1.1;
}

.hero__description {
	margin-bottom: 32px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.4;
}

.hero__details-item {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	.icon {
		margin-right: 12px;
	}
}

.hero__btn {
	margin-top: 32px;
}

.hero__search {
	display: inline-block;
	width: 100%;
	max-width: 356px;
	margin: 0;
}

.hero__static-category {
	margin-bottom: .5em;
	font-size: 14px;
	font-weight: 600;
  	letter-spacing: .12em;
	text-transform: uppercase;

	.icon {
		width: 32px;
		height: 32px;
		margin-right: 8px;
		border-radius: 32px;
		background: $color-green;

		svg {
			width: 16px;
			height: 16px;
		}
	}
}

.hero__static-title {
	margin-bottom: .5em;
	font-size: 52px;
	line-height: 1.2;

	.icon {
		width: 60px;
		height: 60px;
		margin-right: 16px;
		border-radius: 60px;
		background: $color-green;

		svg {
			width: 32px;
			height: 32px;
		}
	}
}

.hero__static-text {
	margin-bottom: 2em;
	font-size: 20px;
	font-weight: 200;
}

@media #{$large-and-down} {
	$hero-info-item-padding: calc(50% - 320px);

	.hero {
		height: auto;
		max-height: none;
		padding-left: 0;
		padding-right: 0;

		&.hero--static {
			height: auto;
		}

		&.hero--tall {
			height: auto;
		}
	}

	.hero__inner {
		display: block;
		border-bottom-right-radius: 100px;
	}

	.hero__carousel {
		height: 700px;
	}

	.hero__image {
		height: 440px;
	}

	.hero__info {
		align-items: flex-start;
		padding: 80px $hero-info-item-padding;
		text-align: center;
	}

	.hero__info-item-inner {
		width: 640px;
		max-width: none;
	}

	.hero__details {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	
	.hero__details-item {
		& + & {
			margin-left: 24px;
		}
	}
}

@media #{$medium-and-down} {
	.hero__inner {
		border-bottom-right-radius: 80px;
	}

	.hero__carousel {
		height: 400px;
	}

	.hero__suptitle {
		margin-bottom: 16px;
		font-size: 12px;
	}

	.hero__title {
		margin-bottom: 20px;
		font-size: 36px;
	}
	
	.hero__description {
		margin-bottom: 20px;
		font-size: 18px;
	}
	
	.hero__btn {
		margin-top: 16px;
	}

	.hero__static-category {
		.icon {
			width: 24px;
			height: 24px;
	
			svg {
				width: 12px;
				height: 12px;
			}
		}
	}

	.hero__static-title {
		font-size: 32px;
	
		.icon {
			width: 40px;
			height: 40px;
			border-radius: 40px;
	
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}

	.hero__static-text {
		font-size: 18px;
	}
}

@media only screen and (max-width: 640px) {
	.hero__info {
		padding: 48px 24px;
		text-align: left;
	}

	.hero__info-item-inner {
		width: calc(100vw - 48px);
	}

	.hero__details {
		display: block;
	}
	
	.hero__details-item {
		& + & {
			margin-left: 0;
		}
	}
	.hero__image {
		height: 198px;
	}
}

@media only screen and (max-width: 480px) {
	.hero__carousel {
		height: 300px;
	}
}