@import 'card';

.home-temp {
	display: flex;
	justify-content: center;
	align-items: center;
}

.whatsnew {
	margin-top: 140px;
	text-align: center;
}

.whatsnew__inner {
	position: relative;
	max-width: 1520px;
	margin: 0 auto;
}

.whatsnew__title {
	margin-bottom: 2em;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .12em;
	text-transform: uppercase;
}

.whatsnew__text {
	@extend .content;
	max-width: 888px;
	margin: 0 auto 1.6em;
	font-size: 28px;
	font-weight: 200;
	line-height: 1.4em;
}

.whatsnew__tabs {
	display: block;
	height: auto;
	width: auto;
	margin-bottom: 64px;
	background-color: rgba(0,0,0,0);

	.indicator {
		display: none;
	}
}

.whatsnew__tab {
	& + & {
		margin-left: 12px;
	}
}

.whatsnew__cards {
	height: $card-height + 32; // hide scrollbar (card height + cards-scroll paddings)
	overflow: hidden;
}

.whatsnew__cards-scroll {
	display: flex;
	overflow-y: hidden;
	overflow-x: auto;
	padding: 8px 0 24px 24px;
	scroll-behavior: smooth;

	&:after {
		content: '';
		display: block;
		min-width: 24px;
	}
}

.whatsnew__cards-arrows {
	position: absolute;
	left: 0;
	bottom: $card-height / 2;
	right: 0;
}

.whatsnew__cards-arrow {
	position: absolute;
	top: 0;
	width: 56px;
	height: 56px;
	transform: translateY(-50%);
	background-color: #fff;
	border-radius: 56px;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-position: 60% 50%;
		background-size: 24px 24px;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 14'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.47.47c-.3.3-.3.77 0 1.06L5.94 7 .47 12.47a.75.75 0 101.06 1.06l6-6c.3-.3.3-.77 0-1.06l-6-6a.75.75 0 00-1.06 0z' fill='%232D2E41'/%3E%3C/svg%3E%0A");
		opacity: .3;
		transition: all .3s ease-in-out;
	}

	&:hover:before {
		opacity: 1;
	}

	&.whatsnew__cards-arrow--left {
		left: -4vw;

		&:before {
			transform: rotate(180deg);
		}
	}

	&.whatsnew__cards-arrow--right {
		right: -4vw;
	}
}

.buy-auctions {
	margin-top: 96px;
}

.buy-auctions__row {
	display: flex;
}

.buy-auctions__img {
	min-width: calc(50% + 140px);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all .3s ease-in-out;
}

.buy-auctions__info {
	position: relative;
	width: 100%;
	max-width: 50%;
	margin-left: -140px;
	padding: 140px 0;
	color: #fff;
	background: $color-base;
	border-top-left-radius: 140px;
	z-index: 1;
}

.buy-auctions__info-inner {
	max-width: 508px;
	margin: 0 auto;
}

.buy-auctions__title {
	margin-bottom: .5em;
	font-size: 52px;

	.icon {
		width: 60px;
		height: 60px;
		margin-right: 16px;
		border-radius: 60px;
		background: $color-green;

		svg {
			width: 24px;
			height: 24px;
		}
	}
}

.buy-auctions__text {
	margin-bottom: 2em;
	font-size: 20px;
	font-weight: 200;
}

.buy-auctions__row--auctions {
	.buy-auctions__info {
		order: 0;
		margin-left: 0;
		margin-right: -140px;
		border-top-left-radius: 0;
		border-bottom-right-radius: 140px;
	}

	.buy-auctions__img {
		order: 1;
	}

	.buy-auctions__title {
		.icon {
			background: $color-blue;
		}
	}
}

@media #{$media-fullhd-up} {
	.buy-auctions__info-inner {
		margin: 0 auto 0 240px;

		.buy-auctions__row--auctions & {
			margin: 0 240px 0 auto;
		}
	}
}

@media only screen and (max-width: 1654px) { // 4 cards
	$card-height: 550px;

	.whatsnew__cards {
		height: $card-height + 32;
	}

	.whatsnew__cards-arrow {
		opacity: 1;
		box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.5);

		&.whatsnew__cards-arrow--left {
			left: 8px;
		}
	
		&.whatsnew__cards-arrow--right {
			right: 8px;
		}
	}
	
}

@media #{$large-and-up} {
	.whatsnew__text {
		padding: 0;
	}
}

@media #{$large-and-down} {
	.whatsnew {
		margin-top: 80px;
	}

	.whatsnew__text {
		max-width: 784px;
		font-size: 24px;
	}

	.whatsnew__tabs {
		margin-bottom: 40px;
	}

	.whatsnew__cards-arrows {
		.touch & {
			display: none;
		}
	}

	.buy-auctions {
		margin-top: 40px;
	}

	.buy-auctions__row {
		display: block;
	}

	.buy-auctions__img {
		display: block;
		height: 30vh;
	}

	.buy-auctions__info {
		max-width: 100%;
		margin: 0;
		padding: 80px 0;
		text-align: center;
		border-radius: 0 !important;
	}
}

@media #{$medium-and-down} {
	.buy-auctions__info {
		padding: 64px 24px;
		text-align: left;
	}
	
	.buy-auctions__title {
		font-size: 32px;
	
		.icon {
			width: 40px;
			height: 40px;
			border-radius: 40px;
	
			svg {
				width: 16px;
				height: 16px;
			}
		}
	}

	.buy-auctions__text {
		font-size: 18px;
	}
}
