.order {
	padding-bottom: 100px;
	padding-left: 40px;
	padding-right: 40px;
}

.order__inner {
	position: relative;
	max-width: $width-4cards;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.order__summary {
	width: 100%;
	max-width: 432px;
	margin-left: 100px;
}

.order__summary-main {
	padding: 48px 40px;
	color: #fff;
	background: $color-base;
	border-radius: 6px;
	box-shadow: $shadow-base;
}

.order__summary-title {
	margin-bottom: .8em;
}

.order__summary-subtitle {
	display: flex;
	align-items: center;
	margin-top: 1.5em;
	padding: 1rem 0 .5rem;
	border-top: 1px solid rgba(255,255,255,.3);

	.icon {
		margin-right: 8px;
	}
}

.order__summary-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: .5em;
	white-space: nowrap;

	&.order__summary-row--total {
		margin-bottom: 0;
		text-transform: uppercase;
	}
}

.order__summary-label,
.order__summary-value {
	flex: 1 1 50%;
}

.order__summary-value {
	text-align: right;
}

a.order__summary-calculate-shipping:not(.btn) {
	color: #fff;

	&:active {
		color: #fff;
	}
}

.order__summary-vaucher {
	display: flex;
	align-items: center;
	height: 60px;
	margin: 1.5em 0;
	font-weight: 500;
	border-top: 1px solid rgba(255,255,255,.3);
	border-bottom: 1px solid rgba(255,255,255,.3);
}

.order__submit {
	margin-top: 1.75em;

	.btn {
		width: 100%;
		padding: 0 8px;
	}
}

.order__summary-note {
	margin-top: 2em;
	font-style: italic;
}

.order__summary-note-label {
	font-weight: 500;
}

.order__summary-aware {
	margin-top: 2em;
	padding: 1.25em;
	font-style: italic;
	color: $color-red;
	background: $color-bg-red;
	border-radius: 6px;
}

.order__summary-aware-label {
	font-weight: 500;
}

.pay-logo {
	display: flex;

	svg {
		width: 45px;
		height: 32px;
	}

	svg + svg {
		margin-left: 8px;
	}
}

@media #{$breakpoint-4cards} {
	.order__summary {
		max-width: 360px;
		margin-left: 60px;
	}

	.order__summary-main {
		padding: 40px 24px;
	}
}

@media #{$medium-and-down} {
    .order__inner {
		display: block;
	}

	.order__summary {
		max-width: 100%;
		margin-left: 0;
	}
}

@media #{$small-and-down} {
	.order {
		padding-left: 24px;
		padding-right: 24px;
	}
}
