.order-header {
	padding-left: 40px;
	padding-right: 40px;
	border-bottom: 1px solid $color-grey;
}

.order-header__inner {
	position: relative;
	height: $header-main-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: $width-4cards;
	margin: 0 auto;
}

.order-header__col {
	&.order-header__col--left,
    &.order-header__col--right {
        flex: 0 0 440px; // same width to left & right to center logo
    }

	&.order-header__col--center {
		padding-top: 8px;
	}
}

.order-header__secure-checkout {
	margin: 0;

	.icon {
		margin: -4px 8px 0 0;
	}
}

.order-header__logo {
    @extend .header__logo;
}

.order {
	padding-top: 60px;
	padding-bottom: 100px;
	padding-left: 40px;
	padding-right: 40px;

	.checkbox__label [type="checkbox"].filled-in:not(:checked) ~ span:after {
		background: #fff;
	}

	input {
		background: #fff !important;
	}

	.order__form input {
		background: rgba(0,0,0,0) !important;
	}
}

.order__inner {
	position: relative;
	max-width: $width-4cards;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.order__summary {
	align-self: flex-start;
	position: sticky;
	top: 1em;
	width: 100%;
	max-width: 432px;
	margin-top: 180px; // indicators
	margin-left: 100px;
}

.order__summary-main {
	padding: 48px 40px;
	color: #fff;
	background: $color-base;
	border-radius: 6px;
	box-shadow: $shadow-base;
}

.order__summary-title {
	margin-bottom: .8em;
}

.order__summary-subtitle {
	display: flex;
	align-items: center;
	margin-top: 1.5em;
	padding: 1rem 0 .5rem;
	border-top: 1px solid rgba(255,255,255,.3);

	.icon {
		margin-right: 8px;
	}
}

.order__summary-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: .5em;
	white-space: nowrap;

	&.order__summary-row--total {
		margin-bottom: 0;
		text-transform: uppercase;
	}

	.order__summary-row {
		margin: 0;
	}
}

.order__summary-label,
.order__summary-value {
	flex: 1 1 50%;
}

.order__summary-value {
	text-align: right;
}

.order__summary a.order__summary-calculate-shipping:not(.btn) {
	color: #fff;

	&:active {
		color: #fff;
	}
}

.order__summary-voucher {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 3.5rem;
	margin: 1.5em 0 0;
	font-weight: 500;
	border-top: 1px solid rgba(255,255,255,.3);
}

.order__submit {
	margin-top: 1.75em;

	.btn {
		width: 100%;
		padding: 0 8px;
	}
}

.order__summary-note {
	margin-top: 2em;
	font-style: italic;
}

.order__summary-note-label {
	font-weight: 500;
}

.order__summary-aware {
	margin-top: 2em;
	padding: 1.25em;
	font-style: italic;
	color: $color-red;
	background: $color-bg-red;
	border-radius: 6px;
}

.order__summary-aware-label {
	font-weight: 500;
}

.order__summary-divider {
	height: 1px;
	margin-top: 1.5em;
	margin-bottom: 1.25em;
	background: $color-grey;

	.order__summary & {
		background: rgba(255,255,255,.3);
	}
}

.pay-logo {
	display: flex;

	svg {
		width: 45px;
		height: 32px;
	}

	svg + svg {
		margin-left: 8px;
	}
}

.order__indicators {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	display: flex;
	justify-content: center;
}

.order__indicator {
	position: relative;
	flex: 0 0 128px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& + & {
		&:before {
			content: '';
			position: absolute;
			left: -12.5%;
			top: 32px;
			width: 32px;
			height: 1px;
			background: $color-grey;
		}
	}

	&.filled {
		.order__indicator-number {
			color: #fff;
			background: $color-base;
		}
	}

	&[data-step] {
		cursor: pointer;
	}
}

.order__indicator-number {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 64px;
	border: 1px solid $color-grey;
}

.order__indicator-label {
	@extend .h5;
	width: 100%;
	text-align: center;
	margin: 16px 0 0;
}

.order__steps {
	width: 100%;
	margin-top: 180px; // indicators
	margin-bottom: 2.5em;
}

.order__step {
	position: relative;
	padding: 0 40px;
	background: $color-bg;

	& + & {
		margin-top: 12px;
	}

	& + &.active,
	&.active + & {
		margin-top: 40px;
	}

	&.filled {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;
		background: $color-turquoise;
		cursor: pointer;
	}
}

.order__step-ok-icon {
	width: 28px;
	height: 28px;
}

.order__step-header {
	height: 80px;
	line-height: 80px;
	font-weight: 400;
	font-size: 28px;
}

.order__step-body {
	padding-bottom: 40px;

	&.order__step-body--shipping {
		padding-right: 72px;
	}
}

.order__row {
	padding-bottom: 2.5em;
	margin-bottom: 2.5em;
	border-bottom: 1px solid $color-grey;
}

.order__step-p {
	margin-bottom: 1.2em;
	font-size: 20px;
	font-weight: 400;
}

.order__step-radio {
	display: flex;
	justify-content: space-between;

	&.order__step-radio--block {
		display: block;

		.order__step-radio-item + .order__step-radio-item {
			margin: 12px 0 0;
		}
	}

	&.order__step-radio--payments-plan {
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-right: -24px;

		.order__step-radio-item {
			flex: 0 0 152px;
			white-space: nowrap;
			margin: 0 12px 12px 0;

			label {
				padding-right: 0;
			}
		}
	}

	&.order__step-radio--payment-type {
		flex-wrap: wrap;
		margin-right: -12px;

		.order__step-radio-item {
			flex: 1 0 50%;
			max-width: calc(50% - 12px);
			margin: 0 12px 12px 0;
		}
	}
}

.order__step-radio-item {
	position: relative;
	width: 100%;

	label {
		display: flex;
		align-items: center;
		min-height: 64px;
		height: 100%;
		padding: 20px;
		font-size: 1em;
		color: $color-base;
		background: #fff;
		border-radius: 6px;
		cursor: pointer;

		span {
			height: 100%;
		}
	}

	& + & {
		margin-left: 12px;
	}

	&.order__step-radio-item--method {
		label {
			flex-wrap: wrap;
			padding-right: 122px;
		}
	
		span {
			display: inline-block;
			width: 100%;
			margin-bottom: .5em;
			font-weight: 500;
		}
	
		i {
			padding-left: 44px;
			font-style: normal;
		}

		strong {
			position: absolute;
			top: 20px;
			right: 20px;
			line-height: 24px;
			font-weight: 500;
		}
	}
}


.order__form {
	width: 100%;
	padding: 40px;
	background: #fff;
	border-radius: 6px;
}

.order__address-type {
	label {
		display: flex !important;
		margin-bottom: 24px;
		font-size: 1em;
		color: $color-base;
		cursor: pointer;
	}
}

.order__form-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	.input-field {
		flex: 0 1 calc(50% - 12px);
	}

	.input-field + .input-field {
		margin-left: 24px;
	}

	& + & {
		margin-top: 8px;
	}

	&.order__form-row--full {
		width: 100%;

		.input-field {
			flex-basis: 100%;
		}	
	}

	&.order__form-row--file {
		display: block;
	}
}

.order__split {
	margin-bottom: 2em;

	.order-confirmed__payment + &,
	.order__step-radio + &,
	.checkout-payments-plan + & {
		margin-top: 3em;
	}
}

.order__split-subtitle {
	display: flex;
	align-items: center;

	.icon {
		margin-right: 8px;
	}
}

.order__split-item {
	margin-bottom: .5em;
}

.order__split-usa-note {
	font-style: italic;
}

.order__step-payments-plan-note {
	display: block;
	margin-top: .5em;
}

.order__step-payments-plan-i {
	position: absolute;
	color: $color-turquoise;
	transform: translateY(-8px);
}

.payments-plan-tab {
	margin-top: 1.5em;
}

.checkout-payment-type {
	margin-top: 1.5em;
}

.order__row-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order__checkboxes {
	label {
		display: inline-flex;
	}
}

.order__checkbox {
	& + & {
		margin-top: 24px;
	}

	& > .input-field__helper {
		padding-left: 35px;
	}
}

.order__voucher {
	display: flex;
	width: 100%;

	.input-field {
		flex: 0 1 60%;
		margin: 0 1em 0 0;
	}
}

.checkout-resale-certificate-form {
	.file-field__label {
		width: 100%;
	}
}

.order__review-address {
	display: flex;
	justify-content: space-between;
	padding-right: 10%;
}

.order__review-address-item {
	flex: 1 1 100%;
	padding-right: 1em;
}

.order__review-items {
	margin-top: 2em;

	.bag__item {
		padding: 0;
		border: 0;
	}

	.bag__item-price {
		flex-basis: 104px;
	}
}

.order__review-payment {
	max-width: 520px;
}

.order__review-payment-row1 {
	display: flex;

	& + & {
		margin-top: .75em;
	}
}

.order__review-payment-row1-cell1 {
	flex: 0 0 160px;
}

.order__review-payment-row1-cell2 {
	font-weight: 500;
}

.order__review-payment-row2 {
	display: flex;
	justify-content: space-between;

	margin-top: .75em;
	margin-left: 160px;
}

.order__review-payment-row2-cell2 {
	padding-left: 3em;
	text-align: right;
	font-weight: 500;
}

.order__review-payment-button {
	margin-top: 2em;
}

.order__review-payment-notes {
	margin-top: 2em;
}

.order__review-total {
	display: flex;
	justify-content: space-between;

	.order__split {
		flex: 1 1 50%;
		max-width: 45%;
	}
}

.order-confirmed {
	max-width: 888px;
	margin: 0 auto;
}

.order-confirmed__top {
	margin-bottom: 60px;
	text-align: center;
}

.order-confirmed__ok {
	width: 60px;
	height: 60px;
	margin-bottom: 2em;
	color: #fff;
	background: $color-turquoise;
	border-radius: 60px;

	svg {
		width: 28px;
		height: 28px;
	}
}

.order-confirmed__title {
	margin-bottom: 1.2em;
}

.order-confirmed__delivery {
	margin-bottom: .75em;

	.icon {
		margin: -4px 8px 0 0;
		width: 20px;
		height: 20px;
	}
}

.order-confirmed__items {
	margin-bottom: 60px;
}

.order-confirmed__item {
	padding: 24px 48px 24px 24px;
	background: #fff;
	box-shadow: $shadow-base;
}

.order-confirmed__share {
	margin-bottom: 60px;
	padding: 60px 24px;
	text-align: center;
	color: #fff;
	background: $color-base;
	border-bottom-right-radius: 140px;

	a {
		width: 52px;
		height: 52px;
		line-height: 52px;
		color: #fff;
		background: $color-turquoise !important;
		border-radius: 52px;

		.icon {
			width: 24px;
			height: 24px;
		}
	}

	a + a {
		margin-left: 1em;
	}
}

.order-confirmed__payment-row {
	display: flex;
	justify-content: space-between;
	padding: 1em 2rem;

	&:nth-child(odd) {
		background: $color-bg;
	}
}

.order-confirmed__payment-note {
	margin: 0;
}

.order-confirmed__button {
	margin-top: 2em;
	text-align: center;
}

.checkout-payment-card-new__container {
	position: relative;
	margin-top: 1.5em;
}

.checkout-payment-card-new__label {
	@extend .h6;
	position: absolute;
	left: 1rem;
	z-index: 100;
	transform: translateY(-.5rem);
	padding: 0 .5rem;
	white-space: nowrap;
	background: #fff;
}

.__PrivateStripeElement {
	position: relative;
	width: calc(100% - 2px);
	height: $input-height + 8;
	margin: 0 1px;
	padding: 1.5em 0 1em 1.5em;
	font-size: $input-font-size;
	color: $color-base;
	border: $input-border;

	&.focus,
	&:focus-within {
		width: 100%;
		margin: 0;
		border: 2px solid $input-focus-color;
	  }
}

.checkout-step-tab {
	width: 100%;
}

#paypal-button-step,
#paypal-button-summary {
	height: 56px;
	overflow: hidden;
}

#paypal-button-step {
	max-width: 352px;
}

/** MEDIA */

@media #{$breakpoint-4cards} {
	.order__summary {
		max-width: 360px;
		margin-left: 60px;
	}

	.order__summary-main {
		padding: 40px 24px;
	}
}

@media #{$large-and-down} {
	.order-header__col {
		&.order-header__col--left,
		&.order-header__col--right {
			flex: 0 0 200px;
		}
	}
	.order-header__logo {
		svg {
			width: 160px;
		}
	}

	.order {
		padding-top: 40px;
	}

	.order__steps,
	.order__summary {
		margin-top: 140px;
	}

	.order__summary {
		max-width: 320px;
		margin-left: 40px;
	}

	.order__step-radio--shipping-required {
		display: block;

		.order__step-radio-item + .order__step-radio-item {
			margin: 12px 0 0;
		}
	}

	.order__form {
		padding: 24px;
	}

	.order__form-row {
		flex-wrap: wrap;

		.input-field {
			flex-basis: 100%;
		}
	
		.input-field + .input-field {
			margin: 24px 0 0;
		}

		& + & {
			margin-top: 24px;
		}

		&.order__form-row--full {
			.input-field {
				margin-bottom: 0;
			}	
		}
	}

	.order__review-address {
		padding-right: 0;
	}

	.order__review-total {
		display: block;
	
		.order__split {
			max-width: 320px;
		}

		.order__split + .order__split {
			margin-top: 3em;
		}
	}

	.order-confirmed__share {
		border-bottom-right-radius: 100px;
	}
}

@media #{$medium-and-down} {
    .order__inner {
		display: block;
	}

	.order__indicators {
		position: static;
	}

	.order__steps {
		margin-top: 40px;
	}

	.order__indicator {
		flex: 0 0 96px;
		& + & {
			&:before {
				top: 24px;
				width: 24px;
			}
		}
	}
	
	.order__indicator-number {
		width: 48px;
		height: 48px;
	}

	.order__indicator-label {
		font-size: 12px;
	}

	.order__step {
		padding: 0 24px;
	}
	
	.order__step-header {
		height: 72px;
		line-height: 72px;
		font-size: 24px;
	}

	.order__summary {
		max-width: 100%;
		margin-top: 0;
		margin-left: 0;
		
		&.review {
			display: none;
		}
	}

	.order-confirmed__share {
		padding: 40px 24px;
		border-bottom-right-radius: 80px;
	}

	.order__review-items {
		.bag__item-details {
			max-width: calc(100% - 96px);
			padding-right: 0;
		}

		.bag__item-price {
			flex: 0 1 calc(100% - 168px);
		}
	}
}

@media only screen and (max-width: 760px) {
	.order-header {
		padding: 0;
		text-align: center;
		border: 0;
	}
	
	.order-header__inner {
		flex-wrap: wrap;
		height: auto;
	}
	
	.order-header__col {
		&.order-header__col--left {
			order: 2;
			min-width: 100%;
			padding: 24px 0 0;
		}

		&.order-header__col--right {
			display: none;	
		}
	
		&.order-header__col--center {
			order: 1;
			width: 100%;
			padding: 16px 0 8px;
			border-bottom: 1px solid $color-grey;
		}
	}
}

@media #{$small-and-down} {
	.order {
		padding-left: 24px;
		padding-right: 24px;
	}

	.order__step-body {
		&.order__step-body--shipping {
			padding-right: 0;
		}
	}

	.order__step-radio {
		input[type="radio"] + span {
			padding-left: 36px;
		}

		&.order__step-radio--payments-plan {
			.order__step-radio-item {
				flex-basis: 144px;
			}
		}

		&.order__step-radio--payment-type {
			.order__step-radio-item {
				max-width: 100%;
			}
		}	
	}

	.order__step-radio-item {
		&.order__step-radio-item--method {
			label {
				padding-right: 20px;
			}

			i, strong {
				padding-left: 36px;
			}
		
			strong {
				position: static;
				display: inline-block;
				margin-top: .5em;
			}
		}
	}

	.order__row-card-logo {
		svg {
			width: 22px;
			height: 16px;
		}

		svg + svg {
			margin-left: 4px;
		}
	}

	.order__review-address {
		display: block;
	}
	
	.order__review-address-item {
		& + & {
			margin-top: 2em;
		}
	}

	.order__review-payment-row1-cell1 {
		flex: 1 1 10%;
	}

	.order__review-payment-row2 {
		margin-left: 0;
	}

	.order__review-payment-row1 + .order__review-payment-row2 {
		margin-top: 2em;
	}

	.order__review-total {
		.order__split {
			max-width: none;
		}
	}

	.order-confirmed__item {
		padding: 16px 16px 0;
	}

	.order-confirmed__share-title-br {
		display: none;
	}

	.order-confirmed__payment-row {
		padding: 1rem;
	}

	.order__voucher {
		.input-field {
			flex-basis: 100%;
		}
	}

	.order__voucher-apply {
		flex: 1 0 5rem;
		padding: 0 .5rem;
	}

	.order__form--stripe {
		width: calc(100% + 6em);
		margin-left: -3em;
		margin-right: -3em;
	}
}

@media only screen and (max-width: 400px) {
	.order__step-radio {
		&.order__step-radio--payments-plan {
			margin-right: 0;

			.order__step-radio-item {
				flex-basis: 100%;
			}
		}
	}

	.order__review-payment-button {
		.btn {
			width: 100%;
			padding: 0 8px;
		}
	}
}
