.auc__hero.hero--static {
	.hero__static-title {
		font-size: 40px;
	}

	.hero__static-date {
		font-weight: 500;

		.icon {
			margin: -.25em .25em 0 0;
		}
	}

	.hero__btn {
		height: 2.5rem;
		line-height: 2.5rem;
		padding: 0 1rem;
	}

	.hero__btn:first-child {
		margin-right: 1em;
	}
}

.auc__hero {
	.hero__static-date {
		font-weight: 500;

		.icon {
			margin: -.25em .25em 0 0;
		}
	}
}

.auc__hero-badge {
	margin-bottom: 1rem;
}

.auc__hero.hero--static.auc__hero--small {
	min-height: 424px;

	.hero__image {
		flex: 1 1 50%;
		min-height: 424px;
	}

	.hero__info {
		flex: 1 1 50%;
		padding: 1rem 4rem;
	}

	.hero__info-item-inner {
		width: 100%;
		max-width: 100%;
	}

	.hero__static-title {
		margin-bottom: 0.2em;
	}

	.hero__static-text {
		margin-bottom: 1em;

		.badge {
			margin-right: 1rem;
			transform: translateY(-.2rem);
		}
	}
}

.auc__hero.hero--static.auc__hero--tiny {
	padding-top: 4rem;
	padding-bottom: 2rem;
	min-height: 0;
	text-align: center;
	
	.hero__inner {
		color: $color-base;
		background: none;
	}

	.hero__image {
		display: none;
	}

	.hero__info {
		padding: 0;
	}

	.hero__info-item-inner {
		width: 100%;
		max-width: 100%;
	}

	.hero__static-title {
		margin-bottom: 0.2em;
	}

	.hero__static-date {
		.badge {
			margin-left: 1rem;

			.icon {
				display: inline-block;
			}
		}
	}
}

@media #{$extra-large-and-up} {
	.auc__hero.hero--static.auc__hero--tiny {
		.hero__static-title {
			font-size: 52px;
		}
	}
}

@media #{$large-and-down} {
	.auc__hero.hero--static {
		.hero__info {
			text-align: center;
		}
	}

	.auc__hero.hero--static.auc__hero--small {
		.hero__info {
			padding: 2rem 1rem;
		}

		.hero__static-title {
			margin-bottom: 0.5em;
		}

		.hero__static-text {
			.badge {
				margin: 0 0 .5rem;
				transform: none;
			}

			.h4 {
				display: block;
			}
		}
	}

	.auc__hero.hero--static.auc__hero--tiny {
		padding-top: 1rem;
	}
}

@media #{$medium-and-down} {
	.auc__hero.hero--static {
		.hero__btn {
			margin-top: 1.5rem;
		}
	}

	.auc__hero.hero--static.auc__hero--small {
		.hero__image {
			min-height: 200px;
			height: 200px;
		}
	}
}


@media #{$small-and-down} {
	.auc__hero.hero--static {
		.hero__static-title {
			font-size: 32px;
		}

		.hero__static-date {
			.icon {
				display: none;
			}
		}
	}
}
