.aucproduct {
	margin-top: 3em;
	background: $color-bg;

	.product__slider {
		background: white;
	}
}

.aucproduct__details {
	margin-bottom: 2rem;
	font-size: 1.5em;

	#currentBid,
	.biddingHistoryLink:not(.btn) {
		font-weight: 500;
	}

	.time-left {
		float: none !important;

		.in-progress:last-child {
			color: $color-red;
		}
	}
}

.aucproduct__details-line {
	margin-top: .5rem;
}

.aucproduct__timer {
	color: $color-red;
}

.aucproduct__form {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.aucproduct__form-item {
	flex-basis: 50%;
	height: 3.5rem;
	margin-top: 0;
	margin-bottom: 0;

	& + & {
		margin-left: 1.5rem;
	}

	input:not(.browser-default) {
		height: 3.5rem !important;
		background-color: white;
	}
}

.aucproduct__buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	margin-bottom: 2rem;

	.btn {
		flex-basis: 33%;
		height: 2.5rem;
		line-height: 2.5rem;
		padding: 0 .5rem;
	}

	.btn + .btn {
		margin-left: 1rem;
	}
}

.aucproduct__certificate {
	margin-top: 2rem;
	font-style: italic;
}

.aucproduct .product__share {
	margin-top: 2rem;
}

.aucproduct__also {
	background: white;

	.cards {
		background: white;
	}

	.cards__inner {
		position: relative;
	}
}

@media #{$breakpoint-tablet} {
	.aucproduct__form-item {
		& + & {
			margin-left: 1rem;
		}
	}
}

@media #{$medium-and-down} {
	.aucproduct__also .also-like__arrows {
		display: none;
	}
}
