.product {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 40px;
	padding-right: 40px;

	&.product--added {
		.product__add {
			display: none;
		}
		.product__added {
			display: inline-block;
		}
	}
}

.product__inner {
	position: relative;
	max-width: $width-4cards;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.product__gallery {
	width: 736px;
	max-width: 50%;
}

.product__slider {
	height: 736px;
	overflow: hidden;
	// background-color: color("grey", "darken-4"); // fix dark corners
	border-radius: 6px;
}

.product__thumbnails {
	width: calc(100% + 24px);
	margin-top: 24px;
}

.product__thumbnails-scroll {
	display: flex;
	flex-wrap: wrap;
}

.product__thumbnail {
	flex: 0 0 128px;
	height: 128px;
	margin: 0 24px 24px 0;
	background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
	background-color: color("grey", "darken-4");
	border-radius: 6px;
	transition: all .3s ease-in-out;

	&.active {
		opacity: .7;
		box-shadow: -4px 4px 0 $color-grey,
			-4px -4px 0 $color-grey,
			4px -4px 0 $color-grey,
			4px 4px 0 $color-grey;
	}
}

.product__discount {
	position: absolute;
	z-index: 10;
	left: 24px;
	top: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 72px;
	height: 72px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	border-radius: 72px;
	background: $color-red;
}

.product__discount-value {
	font-size: 24px;
}

.product__info {
	width: 560px;
	max-width: 45%;
}

.product__number {
	margin-bottom: 1em;
	color: $color-font-grey;
}

a.product__title:not(.btn) {
	display: block;
	margin-bottom: .5em;
	font-weight: 500;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.product__description {
	margin-bottom: 1.4em;
	font-size: 20px;
	line-height: 1.4;
}

.product__price {
	position: relative;
	margin-bottom: 1.5em;
	padding-right: 24px;
	font-size: 28px;
	line-height: 1;
}

.product__price-flag {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: -4px 4px -1px 0;
	font-size: 24px;
}

.product__price-old {
	color: $color-font-grey;
	text-decoration: line-through;
}

.product__price-new {
	color: $color-red;
}

.product__price-approx {
	display: inline-block;
	font-size: 14px;
	color: $color-font-grey;
}

.product__price-i {
	position: absolute;
	transform: translate(-.5em, -.5em);
	color: $color-turquoise;

	.icon {
		width: 14px;
		height: 14px;
	}
}

.product__buttons-grey {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.product__button-grey {
	flex-basis: 50%;
	padding: 0 8px;
	color: $color-base;
	border-color: $color-grey;

	.icon {
		margin-top: -2px;
	}

	& + & {
		margin-left: 24px;
	}
}

.product__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 48px;
}

.product__add,
.product__added {
	flex-basis: 100%;
}

.product__added {
	display: none;
	background: $color-green !important;
}

.product__heart {
	flex: 0 0 40px;
	margin-left: 24px;

	&.active {
		background: $color-turquoise;

		&:before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10 17.12a14.27 14.27 0 007.04-6.21c1.28-2.41 1.46-4.81.32-6.25a4.44 4.44 0 00-3.73-1.74A5.92 5.92 0 0010 4.38a5.92 5.92 0 00-3.63-1.46 4.44 4.44 0 00-3.73 1.74c-1.14 1.44-.96 3.84.34 6.25A14.13 14.13 0 0010 17.12z' fill='%23ffffff'/%3E%3C/svg%3E");
		}
	}
}

.product__details {
	margin: 0;

	&.collapsible {
		border: 0;
		border-top: 1px solid $color-grey;
		box-shadow: none;
		list-style: none;

		& > li.active .icon--dropdown {
			transform: rotate(180deg);
		}

		& > li {
			border-bottom: 1px solid $color-grey;
		}
	}

	.collapsible-header {
		justify-content: space-between;
		align-items: center;
		height: 64px;
		padding: 0;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: .12em;
		border: 0;
		background: none !important;

		.icon--dropdown {
			display: flex;
			width: 13px;
			margin: 0;
		}
	}

	.collapsible-body {
		padding: 0 0 1em;
		border: 0;

		p {
			margin: 0;
		}

		p + p {
			margin-top: 1em;
		}
	}
}

.product__certificate {
	margin-top: 40px;
	display: flex;
	align-items: center;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: $shadow-base;
}

a.product__certificate:not(.btn) { // fix a
	font-weight: 300;
	text-decoration: none;
	background: #fff;

	&:before {
		display: none;
	}
}

.product__certificate-icon {
	flex: 0 0 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: $color-base;
}

.product__certificate-img {
	width: 80px;
	height: 80px;
	fill: currentColor;
}

.product__certificate-info {
	padding-left: 20px;
}

.product__certificate-link {
	display: block;
	font-weight: 500;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.product__share {
	margin-top: 64px;
}

.product__video {
	position: relative;
	max-width: $width-4cards;
	margin: 100px auto 0;
	height: 728px;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.modal-payment-plan {
	text-align: center;

	.modal__title {
		margin-bottom: .75em;
	}
}

.modal-content.modal-payment-plan-form {
	padding-bottom: 4em;
}

.modal-payment-plan__months {
	margin-top: 3em;
	padding-top: 1.75em;
	text-align: left;
	border-top: 1px solid $color-grey;
}

.modal-payment-plan__months-buttons {
	display: flex;
	flex-wrap: wrap;
	margin-right: -1.5em;
	margin-bottom: 1em;
}

.modal-payment-plan__months-button {
	margin: 0 2em 2em 0;

	strong {
		@extend .h6;
		display: block;
		min-width: 10.5em;
		margin: 0;
		padding: 0 2em;
		height: 4em;
		line-height: 4em;
		color: $color-base;
		text-align: center;
		border: 1px solid $color-grey;
	}

	&:hover strong {
		background: $color-bg;
	}

	input:checked + strong {
		color: #fff;
		background: $color-base;
		border-color: $color-base;
	}
}

.modal-payment-plan__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 3.75em;
	padding: 1.25em;

	&:nth-child(odd) {
		background: $color-bg;
	}
}

.modal-payment-plan__row-label {
	.p-t {
		margin: 0;
	}
}

.modal-payment-plan__row-value {
	text-align: right;
}

.modal-payment-plan__note {
	margin-top: 2em;
	text-align: left;
}

.modal-payment-plan__submit {
	margin-top: 2.5em;
}

.modal-shipping-quote {
	text-align: center;
	width: 90%;
	max-width: $w55;

	.modal__title {
		margin-bottom: .75em;
	}
}

.modal-shipping-quote__note {
	margin-top: 2.5em;
	padding-top: 2em;
	text-align: left;
	border-top: 1px solid $color-grey;

	.c-r {
		margin-bottom: .5em;
	}
}

.modal-shipping-quote-form {
	.input-field {
		margin-top: 2em;
		text-align: left;
	}

	.g-recaptcha-field {
		margin-top: 1em;
	}
}

.modal-shipping-quote-form__row {
	display: flex;
	justify-content: space-between;
	text-align: left;

	.input-field {
		margin-top: 1em;
		flex: 0 1 calc(50% - 12px);
	}
}

.modal-shipping-quote__radio {
	margin-top: 2em;
	text-align: left;
}

.modal-shipping-quote__radio-item {
	label {
		display: inline-flex;
		margin-bottom: 1em;
		font-size: 1em;
		color: $color-base;
		cursor: pointer;
	}
}

.modal-shipping-quote__methods {
	margin-top: 2em;
	text-align: left;
}

.modal-shipping-quote__method {
	position: relative;
	width: 100%;
	margin-top: 1em;

	label {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		min-height: 64px;
		padding: 20px;
		padding-right: 72px;
		font-size: 1em;
		color: $color-base;
		background: #fff;
		border-radius: 6px;
		border: 1px solid $color-grey;
		cursor: pointer;

		span {
			display: inline-block;
			width: 100%;
			margin-bottom: .5em;
			font-weight: 500;
		}
	
		i {
			padding-left: 44px;
			font-style: normal;
		}

		strong {
			position: absolute;
			top: 20px;
			right: 20px;
			line-height: 24px;
			font-weight: 500;
		}
	}
}

.modal-shipping-quote__question {
	margin-top: 2em;
	text-align: center;
}

.modal-shipping-quote__method-note {
	margin-top: 2em;
}

.modal-shipping-quote__submit {
	margin-top: 1.5em;
}

@media #{$breakpoint-4cards} {
	.product {
		padding-top: 60px;
		padding-bottom: 60px;

	}
}

@media #{$breakpoint-tablet} {
	.product__slider {
		height: 456px;
	}

	.product__thumbnails {
		width: calc(100% + 12px);
	}
	
	.product__thumbnail {
		flex: 0 0 107px;
		height: 107px;
		margin: 0 12px 12px 0;
	}

	.product__button-grey {
		& + & {
			margin-left: 16px;
		}
	}

	.product__buttons-grey-small {
		display: none;
	}

	.product__video {
		margin-top: 60px;
		height: 456px;
	}
}

@media #{$medium-and-down} {
	.product__inner {
		display: block;
	}
	
	.product__gallery {
		max-width: 100%;
		width: 100%;
	}

	.product__info {
		max-width: 100%;
		margin-top: 44px;
	}
	
	.product__slider,
	.product__video {
		height: 368px;
	}
	
	.product__thumbnails {
		width: calc(100% + 80px);
		margin-left: -40px;
		margin-right: -40px;
		height: #{107 + 32}px; // hide scrollbar
		overflow: hidden;
	}

	.product__thumbnails-scroll {
		flex-wrap: nowrap;
		overflow-y: hidden;
		overflow-x: auto;
		padding: 8px 0 24px 40px;
		scroll-behavior: smooth;
	
		&:after {
			content: '';
			display: block;
			min-width: 28px;
		}
	}

	.modal-payment-plan__months-buttons {
		margin-right: -1em;
	}
	
	.modal-payment-plan__months-button {
		margin: 0 1.5em 1.5em 0;
	}

	.modal-payment-plan__row {
		padding: 1em;
	}

	.modal-shipping-quote-form__row {
		flex-wrap: wrap;
	
		.input-field {
			flex-basis: 100%;
		}
	}
}

@media #{$small-and-down} {
	.product {
		padding-left: 24px;
		padding-right: 24px;
	}

	.product__thumbnails {
		width: calc(100% + 48px);
		margin-left: -24px;
		margin-right: -24px;
	}

	.product__thumbnails-scroll {
		padding-left: 24px;
	
		&:after {
			min-width: 12px;
		}
	}

	.modal-shipping-quote {
		width: 100%;
	}
}