$card-height-auc: 692px;
$card-height-auc-m: 620px;

body.index-index,
body.lot-details-index,
body.auctions-catalog {
	#custom-header,
	#headsec,
	.mymenu,
	.auctions-filter,
	.srch_sec,
	.bodybox,
	.smpagination {
		display: none;
	}
}

.header__btn .aucheader__settings-icon-blank {
	width: 12px;
	height: 12px;
}