body.search-index {
	.auccatalog__search {
		display: block;
	}

	#adv_search_categories,
	#adv_search_auctions,
	.categories-match {
		display: none;
	}
}

.auccatalog__search {
	display: none;
	margin-bottom: 0;
	margin-top: 1em;
	text-align: center;
}

.auccatalog__nav {
	@extend .content;
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	white-space: nowrap;

	&.auccatalog__nav--footer {
		padding-bottom: 0;

		.auccatalog__nav-inner {
			padding: 0;
			box-shadow: none;
		}
	}

	.select-wrapper + .select-wrapper {
		display: none;
	}

	.input-field--filled:not(:focus-within) input[type=text] {
		border: $input-border;
		width: calc(100% - 2px);
		margin: 0 1px;
	}
}

.auccatalog__nav-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: $width-4cards;
	height: 5rem;
	margin: 0 auto;
	padding: 0 1.5rem;
	background: white;
	border-radius: 6px;
	box-shadow: $shadow-base;

	.auccatalog__nav--index & {
		padding: 0;
		box-shadow: none;
	}
}

.auccatalog__nav-perpage {
	display: flex;
	align-items: center;

	.input-field {
		width: 6rem;
	}

	.customSelectInner {
		opacity: 0;
	}
}

.auccatalog__nav-perpage-label {
	margin: 0 1rem 0 0;
}

.auccatalog__nav-results {
	margin: 0;
}

.auccatalog__nav-paginator {
	display: flex;
	align-items: center;

	.input-field {
		width: 6rem;
		margin-left: 1rem;
	}

	#c2_ctl {
		display: flex;
		align-items: center;
	}

	.paginator > * {
		display: inline-block;
		margin: 0 .5rem;
		font-size: 20px;
	}

	.paginator .page a:not(.btn) {
		font-weight: 400;
		text-decoration: none;
		color: $color-font-grey;

		&:hover {
			color: $color-base;
		}
	}

	.paginator .arrow a:not(.btn) {
		font-weight: 400;
		text-decoration: none;

		&:hover {
			color: $color-font-grey;
		}
	}

	.break {
		position: relative;
		width: 1px;
		margin: 0 1rem;
		color: rgba(0,0,0,0);

		&:before {
			content: '';
			position: absolute;
			top: -.75rem;
			width: 1px;
			height: 3.5rem;
			background: $color-grey;
		}
	}

	.selected {
		font-weight: 500;
	}

	.arrow {
		margin: 0;
		color: $color-font-grey;

		a { margin: 0; }
	}
}

.auccatalog__nav-view {
	font-size: 20px;

	a:not(.btn) {
		margin-left: .75rem;
		color: $color-grey;

		&:hover,
		&.current {
			color: $color-base;
		}
	}
}

.auccatalog {
	.cards__inner {
		display: flex;
		align-items: flex-start;
	}

	.cards__list {
		flex: 1 1 100%;
	}

	.cards--list {
		.cards__inner {
			max-width: $width-4cards + $card-margin;
		}

		.card {
			width: 100%;
			max-width: 100%;
			height: auto;
	
			.card__info {
				height: auto;
			}
		}

		.card + .card {
			margin-top: 1.5rem;
		}
	}
}

.auccatalog__search-panel {
	position: sticky;
	left: 0;
	top: 0;
	flex: 0 0 $card-width;
	margin: 5em $card-margin 0 0;
	background: white;
	border-radius: 6px;
	box-shadow: $shadow-base;
	overflow: hidden;

	.input-field {
		margin-bottom: 2rem;
	}

	.collapsible {
		border: 0;
		box-shadow: none;
	}

	.collapsible-li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.collapsible-header {
		margin: 0;
		padding: 1.5rem;
		border: 0 none;
		background: white !important;
	}

	.collapsible-body {
		padding: 0 1.5rem 1rem;
		border: 0;
	}

	.selector {
		display: flex;
		margin: .5em 0;

		input {
			flex: 0 0 20px;
			height: 20px;
			margin-right: .5rem;
		}

		label {
			color: $color-base;
			font-size: 1rem;
			line-height: 20px;
		}
	}

	.categories-match {
		margin-top: 2rem;
	}
}

.auccatalog__search-panel-title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.h4 {
		margin: 0;
	}

	.icon {
		margin: 0;
		width: 16px;
		height: 18px;

		.collapsible-li:not(.active) & {
			transform: rotate(45deg);
		}
	}
}

.auccatalog__search-panel-subtitle {
	margin-bottom: 1em;
}

.auccatalog__search-panel-checkboxes {
	.checkbox__label {
		display: block;
		margin: .5em 0;
	}
}

#adv_search_categories,
.auction-type {
	label {
		color: $color-base;
	}
}

.auction-type {
	padding-bottom: 1rem;
}

.auccatalog__search-panel-row {
	display: flex;
	margin-top: 1rem;

	.input-field {
		flex: 1 1 50%;
	}

	.input-field + .input-field {
		margin-left: 1rem;
	}
}

.auccatalog__search-btn {
	width: 100%;
}

.aucproduct__card {
	position: relative;
	height: auto;

	.card__info {
		height: calc(100% - #{$card-width});
	}

	.card__movie {
		-webkit-line-clamp: 3;
		max-height: 4.2em;
		line-height: 1.4;
	}

	a:not(.btn) {
		text-decoration: none;
	}

	.youre-winning {
		padding: 0 4px 1px;
		font-weight: 500;
		color: white;
		background: $color-turquoise;
		border-radius: 4px;
		white-space: nowrap;
	}

	.blkRegularBid {
		position: relative;
		margin-top: 1rem;

		section {
			width: 100%;
			max-width: calc(50% - 4px);
		}

		.btn {
			width: 100%;
			padding: 0 8px;
		}
	}

	.currency-input__label {
		position: absolute;
		margin: 15px 0 0 12px;
		color: $color-font-grey;
	}

	.max-bid-warning.warning {
		color: $color-red;
	}

	.lot-item {
		position: absolute;
		z-index: 100;
		left: 0;
		top: 0;
		width: 2.5rem;
		height: 2.5rem;
		opacity: 0;
	}

	.card__actions {
		max-width: 308px;
	}

	.card__bid {
		width: 100%;
		max-width: 624px;
	}
}

.aucproduct__card-details {
	display: block;
	margin: 1em 0;
}

.aucproduct__card-details-row {
	display: flex;
	margin-top: .5em;
}

.aucproduct__card-details-label {
	flex: 0 0 7em;
	font-weight: 500;
}

.aucproduct__card-details-value {
	flex: 1 1 100%;
	font-weight: 300;
}

.aucproduct__card-details-timer {
	.timelft {
		margin: 0;
		font-size: 0px;

		a:not(.btn) {
			color: $color-red;
			font-size: 1rem;
			font-weight: 300 !important;
		}
	}
}

@media #{$breakpoint-4cards} {
	.auccatalog__nav-inner {
		max-width: $width-4cards-m;
	}

	.cards--grid .auccatalog__search-panel {
		flex-basis: $card-width-m;
		margin-right: $card-margin-m;
	}

    .aucproduct__card {
        height: auto;

		.card__info {
			height: calc(100% - #{$card-width-m});
		}
    }
}

@media only screen and (max-width: 1400px) {
	.auccatalog__nav {
		position: relative;
	}

	.auccatalog__nav-inner {
		padding: 0;
		box-shadow: none;
	}

	.auccatalog__nav-results {
		order: -1;
		position: absolute;
		top: 2rem;
	}

	.auccatalog__nav-paginator {
		.input-field {
			display: none;
		}
	}

	.aucproduct__card {
		.card__actions {
			max-width: 100%;
		}
	}
}

@media only screen and (max-width: #{$width-4cards-m + 110}) {
	.auccatalog__nav-inner {
		max-width: $card-width-m * 3 + $card-margin-m * 2;
	}
}

@media #{$large-and-down} {
	.auccatalog__nav {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.auccatalog__search-panel {
		margin-top: 3.75em;
	}
}

@media #{$large-and-up} {
	.auccatalog__search-panel {
		.collapsible-header {
			pointer-events: none;

			.icon {display:
				none;
			}
		}
	
		.collapsible-body {
			display: block;
		}
	}
}

@media #{$medium-and-up} {
	.auccatalog {
		.cards--list {
			.card {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.card__img {
				flex: 0 0 $card-width-m;
				height: 100%;
				min-height: $card-width-m;
				border-top-right-radius: 0;
			}

			.card__info {
				flex: 1 1 100%;
				display: block;
			}

			.card__actions {
				margin-top: 1.5rem;
			}
		}
	}

	@media #{$extra-large-and-up} {
		.auccatalog {
			.cards--list {
				.card__img {
					flex: 0 0 $card-width;
					min-height: $card-width;
				}
			}
		}
	}
}

@media #{$medium-and-down} {
	.auccatalog__nav {
		padding-top: 3.5rem;
		padding-bottom: 1rem;
	}

	.auccatalog__nav-inner {
		justify-content: center;
	}

	.auccatalog__nav-perpage,
	.auccatalog__nav-view {
		display: none;
	}

	.auccatalog .cards__inner {
		flex-wrap: wrap;
	}

	.auccatalog .cards--grid .cards__inner {
		padding-right: .5rem;
	}

	.auccatalog .cards--list .cards__inner {
		.card {
			margin-right: 1.5rem;
		}
	}

	.auccatalog__search-panel {
		position: relative;
		flex: 1 1 100%;
		margin-top: 2.5em;
	}

	.cards .aucproduct__card {
		height: auto;

		.card__info {
			height: calc(100% - #{$card-width-s});
		}
    }
}


@media #{$small-and-down} {
	.auccatalog__nav-paginator {
		.paginator * {
			font-size: 16px;
		}

		.break {
			margin: 0 .5rem;
		}

		.page + .page {
			display: none;
		}
	}

	.cards .aucproduct__card {
        width: 100%;
		max-width: 100%;
		height: auto;

		.card__info {
			height: auto;
		}
    }
}
