.auctions-live-sale {
	.auctitle-live,
	.mobile-content-wrap,
	.list-opts {
		display: none;
	}

	.btn {
		font-size: 14px;
		white-space: nowrap;
	}

	.ui-dialog {
		padding: 1rem;
		font-size: 20px;
		border-radius: 6px;
		z-index: 1010;
		background: white;
	}

	.ui-dialog-titlebar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
	}

	.ui-dialog-titlebar-close.ui-button {
		position: relative;
		width: 32px;
		height: 32px;
		padding: 0;
		font-size: 0;
		border: 0;
		outline: 0;
		background: none;

		.ui-button-icon {
			position: absolute;
			top: 4px;
			bottom: 4px;
			left: 4px;
			right: 4px;
			background-position: 50% 50%;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.47.47c.3-.3.77-.3 1.06 0L7 5.94 12.47.47a.75.75 0 111.06 1.06L8.06 7l5.47 5.47a.75.75 0 11-1.06 1.06L7 8.06l-5.47 5.47a.75.75 0 01-1.06-1.06L5.94 7 .47 1.53a.75.75 0 010-1.06z' /%3E%3C/svg%3E%0A");
		}
	}

	.ui-dialog-title {
		font-size: 24px;
		font-weight: 600;
	}

	.ui-button {
		padding: .5rem 1rem;
		font-size: 12px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: .12em;
		text-transform: uppercase;
		cursor: pointer;
	}

	.ui-dialog-buttonset {
		margin: 1rem 0;
		text-align: center;

		.ui-button + .ui-button {
			margin-left: 1rem;
		}
	}

	.ui-widget-overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1000;
		background: rgba(0,0,0,.7);
	}
}

.auclive-sale {
	padding-bottom: 1rem;
}

.auclive-sale__auc-title {
	margin: 0 0 .2em;
}

.auclive-sale__auc-text {
	.badge {
		margin: 0 1.5rem 0 0;
	}
}

.auclive-sale__auc-date {
	display: inline;
	font-size: 1rem;
	font-weight: 500;

	.icon {
		margin: -.25em .5em 0 0;
	}
}

.auclive-sale__title {
	margin: .5em 0 .5em;
}

.auclive-sale__sections {
	margin-top: 0;
	font-size: 20px;
	background: $color-bg;

	.product__info {
		width: 50%;
		max-width: 50%;
		margin-right: 4rem;
	}

	.product__slider {
		width: 565px;
    	height: 565px;
	}

	.lot-images {
		margin-top: 0;
		margin-bottom: 0;
		background: white;
		border-radius: 6px;
		overflow: hidden;
		width: 565px;

		.live-slide-left,
		.live-slide-right {
			display: none;
		}
	}

	.lblLotImgControlId {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 240px;

		img {
			width: 100%;
			max-width: 565px;
		}

		.loader-img {
			width: 32px;
			height: 32px;
			opacity: .5;
		}
	}

	.lot-bidding {
		.info {
			margin: 0 0 .5rem;

			p {
				margin: 0;
			}
		}

		.est-amount {
			font-weight: 500;
		}

		.bidding-main {
			margin: 0;

			.current-btn {
				.btn {
					width: 100% !important;
					font-size: 1rem !important;
					text-shadow: none !important;
					color: white !important;
					background: $primary-color !important;
					border-radius: 0 !important;
					box-shadow: none !important;

					&.disabled {
						color: $color-font-grey !important;
						background: $color-grey !important;
					}
				}

				.warning {
					margin-bottom: .5rem;
				}

				.bid-countdown {
					@extend .h3;
					margin-bottom: .5rem;
					color: $color-red;
				}
			}
		}

		& > .sep {
			display: none;
		}
	}

	.lot-messages {
		margin-top: 1rem;
		padding-left: 2rem;
		border-left: 1px solid $color-grey;

		.auc-lbl {
			font-weight: 500;
		}

		.sound-label {
			@extend .h5;
		}

		// from m.css
		.chk-sound { display:none; }
		.chk-sound+label {
			background:url("https://propstoreauction.com/m/images/sound-off.png") transparent no-repeat;height:11px;width:7px;display:inline-block;padding:0 0 0 0px;margin-left:5px;vertical-align:middle;
			position: relative;
			cursor: pointer;
			&:before {
				content: '';
				position: absolute;
				left: -1rem;
				right: -1rem;
				top: -1rem;
				bottom: -1rem;
			}
		}
		.chk-sound:checked+label{background:url("https://propstoreauction.com/m/images/sound-on.png") transparent no-repeat;height:11px;width:16px;display:inline-block;padding:0 0 0 0px;margin-left:5px;vertical-align:middle}

		& > .messages {
			position: relative;
		}

		.messages .messages {
			height: 440px;
			padding-bottom: 150px;
			overflow: auto;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 150px;
				background: linear-gradient(rgba(0,0,0,0), $color-bg);
			}
		}
	}

	#chat-messages {
		display: none !important;
	}

	.video-stream {
		margin-top: 2rem;

		iframe {
			width: 100%;
			height: 364px;
			border: 0;
			overflow: auto;
		}
	}

	.lot-description {
		margin-top: 4rem;
		padding-top: 1rem;
		border-top: 1px solid $color-grey;
	}

	.lot-category {
		display: none !important;
	}

	.product__gallery .lot-description {
		margin-top: 2rem;
	}

	.lot-description-header {
		@extend .h5;
	}

	.lot-description-content {
		.lblLotDescControlId > *:not(.product-description-content),
		#calendarBtnBox,
		.addthis_toolbox,
		#infoBtnBox,
		#modal-set {
			display: none;
		}
	}
}

.auclive-sale__messages {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.auclive-sale__messages-bidder {
	margin-bottom: .5rem;
	opacity: .7;
}

.btn.auclive-sale__propblems-link {
	height: 2.5rem;
	line-height: 2.5rem;
}

.auclive-sale__upcoming {
	@extend .content;
	position: relative;
	padding-top: 2em;
	font-size: 20px;

	.lot-upcoming,
	#upcoming-scroll {
		max-width: $width-4cards;
		margin: 0 auto;
	}

	.lot-upcoming {
		position: sticky;
		top: 0;
		z-index: 100;
		padding-top: 1em;
		background: white;

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			left: -24px;
			right: 0;
			top: 0;
			bottom: 0;
			background: white;
		}
	}

	h3 {
		margin-bottom: 1em;
		text-align: center;
	}

	tr {
		position: relative;
		cursor: pointer;
		transition: all .3s ease;

		.preview {
			position: absolute !important;
			top: .5rem;
			width: 2.5rem;
			height: 2.5rem;
		}

		&:hover {
			opacity: 1;
			background: rgba(200,200,200,.07);
		}
	}

	.upcoming--current {
		background: $color-bg;
	}

	#preview-image-container {
		position: fixed;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		background-color:white;
		opacity: .9;

		td {
			padding: 0;
		}
	}

	// from /m/css/footable.standalone.css

	.footable > thead th.icon, .footable > tbody td.icon {
		display: table-cell;
		width: 10%;
		height: auto;
	}
	.footable > thead th.lot, .footable > tbody td.lot {
		width: 5%;
	}
	.footable > thead th.estimate, .footable > tbody td.estimate {
		width: 15%;
	}
	.footable > thead th.hammer, .footable > tbody td.hammer {
		 width: 15%;
	}

	.list-options {
		display: flex;
		justify-content: center;
	}

	&[data-upcoming="upcoming"] {
		.sold,
		.unsold {
			display: none;
		}
	}
	&[data-upcoming="past"] {
		.upcoming:not(.upcoming--current) {
			display: none;
		}
	}
}

.auclive-sale__upcoming-options {
	label {
		color: $color-base;
	}

	label + label {
		margin-left: 2rem;
	}
}


.auclive-sale__current {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;

	.current {
		@extend .h4;
		flex: 1 0 220px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: .75rem 1rem;
		text-align: center;
		white-space: nowrap;
		background: rgba(0,0,0,.1);

		.current-bid-label {
			font-weight: 300;
		}

		.current-bid-amt {
			font-weight: 600;
		}
	}
}

.auclive-sale__bidstatus {
	flex: 1 1 100%;
	margin: 0 0 0 .5rem;
	padding: 1rem 1.5rem;
	font-style: italic;
	color: $primary-color;
	background: white;
	border-radius: 6px;

	&.red {
		color: $color-red;
		background: #FFCECE !important;
	}

	&.green {
		color: $color-green;
		background: #BCFCD7 !important;
	}
}

.auclive-sale__bidstatus-title {
	font-weight: 600;
}

.auclive-sale__bidstatus-text {
	font-size: 1rem;

	strong {
		font-weight: 600;
	}
}

@media #{$medium-and-down} {
	.auclive-sale {
		.product__inner {
			display: flex;
			flex-wrap: wrap;
		}

		.product__gallery {
			order: 1;
		}

		.product__info {
			order: 2;
			margin: 1rem 0 0;
			width: 100%;
			max-width: 100%;
		}
	}

	.auclive-sale__sections {
		.lblLotImgControlId {
			img {
				max-width: 300px;
			}
		}
	}

	.auclive-sale__upcoming {
		.footable > thead th.icon, .footable > tbody td.icon {
			width: 10%;
		}
		.footable > thead th.lot, .footable > tbody td.lot {
			width: 7%;
		}
		.footable > thead th.estimate, .footable > tbody td.estimate {
			width: 20%;
		}
		.footable > thead th.hammer, .footable > tbody td.hammer {
			 width: 20%;
		}
	}
}

@media #{$small-and-down} {
	.auclive-sale__current {
		display: block;
		margin-bottom: .5rem;

		.current {
			display: block;
		}
	}

	.auclive-sale__bidstatus {
		margin: .5rem 0 0;
	}

	.auclive-sale__sections {
		.video-stream {
			iframe {
				height: 320px;
			}
		}

		.lot-description {
			font-size: 1rem;
		}
	
		.lot-messages {
			padding-left: 1rem;
			font-size: 1rem;
		}
	}

	.auclive-sale__upcoming {
		font-size: 12px;

		.lot-upcoming {
			top: -7rem;
		}

		.footable > tbody td.icon {
			width: 48px;
		}
		
		.footable > tbody td.lot {
			position: absolute;
			left: -20px;
			top: 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			padding: 0;
			background: white;
			border-radius: 16px;
		}
	}
}