.aucproduct {
	margin-top: 3em;
	background: $color-bg;

	.product__slider {
		background: white;
	}
}

.aucproduct__details {
	margin-bottom: 2rem;
	font-size: 1.5em;

	#currentBid,
	.biddingHistoryLink:not(.btn) {
		display: inline;
		font-weight: 500;
	}

	.time-left {
		float: none !important;

		.in-progress:last-child {
			color: $color-red;
			font-weight: 500;
		}
	}

	.bid-status-owner {
		padding: 0 4px 1px;
		font-size: 1.25rem;
		color: white;
		background: $color-turquoise;
		border-radius: 4px;
		white-space: nowrap;
	}
}

.aucproduct__details-line {
	margin-top: .5rem;
}

.aucproduct__timer {
	color: $color-red;
}

.aucproduct__button {
	margin-bottom: 2rem;

	.btn {
		width: 100%;
	}
}

.aucproduct__form {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;

	.maxbid {
		list-style: none;

		.mxbid {
			display: none;
		}

		.maxbid-curr {
			position: absolute;
			z-index: 100;
			margin: 15px 0 0 12px;
			color: $color-font-grey;
		}

		.txt-max-bid {
			width: 100% !important;
		}

		.youre-winning {
			font-weight: 500;
			color: $color-turquoise;
		}

		label {
			color: $color-font-grey;
		}

		.warning {
			display: block;
			font-weight: 500;
			color: $color-red;
		}

		br {
			display: inline;
			content: '';
		  }
	}
}

.aucproduct__form-item {
	flex-basis: calc(50% - .75rem);
	margin-top: 0;
	margin-bottom: 0;

	input:not(.browser-default) {
		height: 3.5rem !important;
		background-color: white;
	}
}

.aucproduct .product__buttons-grey {
	#watchlist_button {
		position: relative;
	}
}

.aucproduct .product__button-grey {
	flex-basis: calc(50% - .75rem);

	& + & {
		margin-left: 0;
	}

	.watch {
		position: absolute !important;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-decoration: none !important;
	}

	.remove-watch:not(.btn) {
		color: white;
		background: $color-turquoise;
	}
}

.aucproduct__buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	margin-bottom: 2rem;

	.btn {
		flex-basis: 33%;
		height: 2.5rem;
		line-height: 2.5rem;
		padding: 0 .5rem;
	}

	.btn + .btn {
		margin-left: 1rem;
	}
}

.aucproduct__certificate {
	margin-top: 2rem;
	font-style: italic;
}

.aucproduct .product__share {
	margin-top: 2rem;
}

.aucproduct__also {
	background: white;

	.cards {
		background: white;
	}

	.cards__inner {
		position: relative;
	}
}

.aucproduct__calendar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;

	#calendarBtnBox {
		flex: 1 1 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.calendarBtn {
		flex: 1 1 33%;
		padding: 0 .5rem;
		color: $color-base;
		border-color: $color-grey;
	}

	.calendarBtn + .calendarBtn {
		margin-left: .5rem;
	}
}

.aucproduct__calendar-title {
	margin-right: 1rem;
	margin-bottom: 0;
}

@media #{$breakpoint-tablet} {
	.aucproduct__form-item {
		& + & {
			margin-left: 1rem;
		}
	}
}

@media #{$medium-and-down} {
	.aucproduct__also .also-like__arrows {
		display: none;
	}
}

@media #{$small-and-down} {
	.aucproduct__calendar {
		display: block;
	}

	.aucproduct__calendar-title {
		margin-right: 0;
		margin-bottom: 1rem;
	}
}
