$movie-width: 200px;
$movie-height: 360px;
$movie-img-height: 248px;
$movie-width-s: 152px;
$movie-height-s: 272px;
$movie-img-height-s: 184px;
$movie-list-padding: 24px;

.related-movies {
	@extend .content;
	padding-top: 44px;
	text-align: center;
}

.related-movies__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 0;
	color: #fff;
	background: $color-base;
	border-top-right-radius: 140px;
}

.related-movies__title {
	margin-bottom: 1em;
}

.related-movies__list {
	position: relative;
	max-width: 100%;
	height: $movie-height + $movie-list-padding;
	overflow: hidden;
}

.related-movies__scroll {
	display: flex;
	overflow-y: hidden;
	overflow-x: auto;
	padding: 0 0 $movie-list-padding 24px;
	scroll-behavior: smooth;

	&:after {
		content: '';
		display: block;
		min-width: 24px;
	}

	&.arrow-left {
		.related-movies__arrow--left {
			display: block;
		}
	}
	&.arrow-right {
		.related-movies__arrow--right {
			display: block;
		}
	}
}

.related-movies__arrow {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10rem;
	pointer-events: none;

	.icon {
		position: absolute;
		top: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.5rem;
		height: 2.5rem;
		color: $color-base;
		border-radius: 50%;
		background: white;
		cursor: pointer;
		pointer-events: all;

		svg {
			width: 1rem;
			height: 1rem;
		}

		.touch & {
			display: none;
		}
	}

	&.related-movies__arrow--left {
		left: 0;
		background: linear-gradient(to right, $color-base, $color-base 1rem, rgba(0,0,0,0));

		.icon {
			left: 2rem;
			transform: rotate(90deg);
		}
	}

	&.related-movies__arrow--right {
		right: 0;
		background: linear-gradient(to left, $color-base, $color-base 1rem, rgba(0,0,0,0));

		.icon {
			right: 2rem;
			transform: rotate(-90deg);
		}
	}
}

.related-movies__item {
	width: $movie-width;
	min-width: $movie-width;
	height: $movie-height;
	text-align: left;
	cursor: pointer;

	& + & {
		margin-left: 24px;
	}

	&:hover {
		.related-movies__img {
			opacity: .5;
		}		
	}
}

a.related-movies__item:not(.btn) { // fix a
	font-weight: 300;
	color: #fff;
	text-decoration: none;

	&:before {
		display: none;
	}

	&:active {
		color: #fff;
	}
}

.related-movies__img {
	height: $movie-img-height;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: color("grey", "darken-4");
	transition: all .3s ease-in-out;
}

.related-movies__movie {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 2;
   	-webkit-box-orient: vertical;
	max-height: 2.4em;
	margin: 1em 0 .5em;
	line-height: 1.2;
}

.related-movies__counter {
	font-size: 16px;
	opacity: .5;
}

@media #{$large-and-down} {
	.related-movies__inner {
		padding: 60px 0;
		border-top-right-radius: 100px;
	}

	.related-movies__list {
		height: $movie-height-s + $movie-list-padding;
	}

	.related-movies__item {
		width: $movie-width-s;
		min-width: $movie-width-s;
		height: $movie-height-s;
	
		& + & {
			margin-left: 16px;
		}
	}

	.related-movies__img {
		height: $movie-img-height-s;
	}

	.related-movies__movie {
		font-size: 16px;
	}
	
	.related-movies__counter {
		font-size: 14px;
	}
}

@media #{$medium-and-down} {
	.related-movies {
		padding-left: 0;
		padding-right: 0;
	}

	.related-movies__inner {
		border-top-right-radius: 0;
	}

	.related-movies__scroll {
		justify-content: flex-start;
	}

	.related-movies__arrow {
		width: 4rem;
	}
}
