.h1 {
    margin-bottom: .5em;
	font-size: 52px;
	font-weight: 300;
	line-height: 1.2;
}

.h2 {
    margin-bottom: .5em;
	font-size: 40px;
	font-weight: 500;
	line-height: 1.2;
}


.h3 {
    margin-bottom: .5em;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.2;
}

.h4 {
    margin-bottom: .5em;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.3;
}

.h5 {
    margin-bottom: .5em;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: .12em;
	text-transform: uppercase;
}

.h6 {
    margin-bottom: .5em;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: .12em;
	text-transform: uppercase;
}

.p-l { // Para – Large
    margin-bottom: .5em;
	font-size: 28px;
	font-weight: 300;
	line-height: 1.3;
}

.p-r { // Para – Regular
    margin-bottom: .5em;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
}

.p-s { // Para – Small
    margin-bottom: .5em;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

.p-t { // Para – Tiny
    margin-bottom: .5em;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}

.c-r { // Caption – Regular
    margin-bottom: .5em;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
}

.c-s { // Caption – Small
    margin-bottom: .5em;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

@media #{$large-and-down} {
    .h1 {
		font-size: 44px;
	}

	.h2 {
		font-size: 36px;
	}

	.h3 {
		font-size: 32px;
	}
}

@media #{$small-and-down} {
    .h1 {
		font-size: 36px;
	}

	.h2 {
		font-size: 28px;
	}

	.h3 {
		font-size: 28px;
	}

	.p-l {
		font-size: 24px;
	}

	.p-r {
		font-size: 18px;
	}
}
