.gift-vouchers main {
    &:before {
        content: '';
        position: absolute;
        top: $header-settings-height + $header-main-height;
        width: 100%;
        border-top: 1px solid color("grey", "base");
    }
}

.vouchers {
	@extend .content;
    padding: 0;
	text-align: center;
    &.vouchers--grey {
        background: $color-bg;
    }

	.h1 {
		margin-bottom: .7em;
	}
}

.vouchers__inner {
    position: relative;
	max-width: $width-4cards;
	margin: 0 auto;
    &.vouchers__inner--narrow {
        max-width: 36em;
    }
    &.vouchers__inner--extra-gaps {
        margin: 6em auto;
    }
    .vouchers__inner--wide {
        max-width: $width-4cards + $card-margin;
    }
}

.vouchers__inner--paragraph {
    font-weight: 300;
}

.vouchers__cards {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0 72px 0;
	margin-left: -$card-margin;
	transform: translateX($card-margin);
	
}

.voucher {
	position: relative;
	display: flex;
	width: $width-4cards / 2 - $card-margin;
	min-width: $width-4cards / 2 - $card-margin;
	height: $card-height-xxxs;
    margin-right: $card-margin;
    margin-bottom: 2em;
	text-align: left;
    background: #ffffff;
	box-shadow: $shadow-base;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	transition: all .3s ease-in-out;
	backface-visibility: hidden;
	will-change: transform;

	&:hover {
		transform: translate3d(0, -2px, 0);
		box-shadow: $shadow-base-hover;
	}

	&.voucher--added {
		.voucher__add {
			display: none;
		}
		.voucher__added {
			display: inline-block;
		}
	}
}

a.voucher:not(.btn) { // fix a
	font-weight: 400;
	text-decoration: none;
	background: #fff;

	&:before {
		display: none;
	}

}

.voucher__img {
	position: relative;
    width: $card-height-xxxs;
    min-width: $card-height-xxxs;
	height: $card-height-xxxs;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: color("grey", "darken-4");
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: radial-gradient(rgba(0, 0, 0, 0), color("grey", "darken-4"));
    }
}

.voucher__img-price {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
}

.voucher__info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
    width: calc(100% - #{$card-height-xxxs});
	height: $card-height-xxxs;

}

.voucher__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 1.5em;
    height: $card-height-xxxs;
}

.voucher__currency {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 1;
   	-webkit-box-orient: vertical;
	max-height: 1.4em;
	margin-bottom: 1em;
	line-height: 1.5;
	font-weight: 300;
}

.voucher__title {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 1;
   	-webkit-box-orient: vertical;
	max-height: 1.4em;
	margin-bottom: .5em;
	font-size: 20px;
	line-height: 1.4;
}

.voucher__price {
	display: -webkit-box;
	overflow: hidden;
   	text-overflow: ellipsis;
   	-webkit-line-clamp: 1;
   	-webkit-box-orient: vertical;
	position: relative;
	font-size: 20px;
	line-height: 1;
}

.voucher__actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    min-width: auto;
	height: $card-height-xxxs;
    padding: 1.5em;

	.btn {
		padding: 0 8px;
	}

	.btn + .btn--secondary {
		margin-top: 1em;
	}

	.btn__title + .icon {
		margin-left: 8px;
		margin-top: -5px;
	}
}

.voucher__added {
	display: none;
	background: $color-green !important;
}



@media #{$breakpoint-4cards} {
	.vouchers {
		padding-top: 0;
		padding-bottom: 0px;

		.voucher__actions {
			.btn {
				width: 100%;
                & + .btn--secondary {
                    margin-top: 0;
                    margin-left: 1em;
                }
			}
		}
	}

	.vouchers__inner {
		max-width: $width-4cards-m + $card-margin-m;
		transform: translateX($card-margin-m / 2);
	}
	
	.vouchers__cards {
		margin-left: -$card-margin-m;
        padding-top: 20px;
        padding-bottom: 60px;
		transform: translateX($card-margin-m);
    }

    .voucher {
        flex-direction: column;
        margin: 5em $card-margin-m 0 0;
    }

    .voucher {
        width: $card-width-m;
        min-width: $card-width-m;
        height: $card-height-xxs;
    }
     
    .voucher__img {
        width: 100%;
        min-width: 100%;
        height: $card-width-s;
        min-height: $card-width-s;
    }

    .voucher__img-price {
        font-size: 48px;
    }

    .voucher__info {
        width: 100%;
        height: $card-height-xxs - $card-width-s;
        flex-direction: column;
        padding: 20px;
    }
    
    .voucher__description {
        padding: 0;
    }

    .voucher__title {
        -webkit-line-clamp: 2;
        max-height: 2.8em;
        font-size: 18px;
    }
    
    .voucher__currency {
        font-size: 14px;
    }

    .voucher__price {
        margin-bottom: .8em;
        font-size: 18px;
    }
    
    .voucher__actions {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        min-width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: #{$width-4cards-m + 40}) {
	.vouchers__inner {
		max-width: $card-width-m * 3 + $card-margin-m * 3;
	}
}

@media #{$large-and-down} {
	.vouchers {
		padding-left: 40px;
		padding-right: 24px;
        &.vouchers--content {
            padding-left: 24px;
            padding-right: 24px;
        }
	}

	.vouchers__inner {
		transform: none;
	}

	.vouchers__cards {
		.voucher {
			margin-top: 3.75em;
		}
	}
}

@media #{$medium-and-down} {
    .vouchers__inner {
        &.vouchers__inner--extra-gaps {
            margin: 4em auto;
        }
    }
	.vouchers {
		padding-left: 24px;
		padding-right: 0;
        padding-bottom: 0;
        &.vouchers--content {
            padding-left: 24px;
            padding-right: 24px;
        }

		.vouchers__cards {
			margin-left: 0;
            padding-top: 20px;
			transform: none;

            .voucher {
                width: 50%;
                max-width: calc(50% - #{$card-margin-m * 1.25});
                min-width: 0;
                height: $card-height-xs;
                margin-top: 2.5em;
                margin-left: 0;
            }
            
            .voucher__info {
                padding: 16px;
                height: $card-height-xs - $card-width-s;
            }
            
            .voucher__description {
                flex: 1 1 100%;
            }

            .voucher__actions {
                flex-direction: column;
                width: 100%;

                .btn {
                    width: 100%;
                    min-width: 100%;
                    height: 48px;
                    line-height: 48px;
                }

                .btn + .btn--secondary {
                    margin-left: 0;
                    margin-top: 1em;
                }
            }
		}
	}
}